.wrapper{
    display:table;
    width:auto;
    position:relative;
    width:100%;
	background: black;
}
.playpause {
    /*background-image:url(http://png-4.findicons.com/files/icons/2315/default_icon/256/media_play_pause_resume.png);
    background-repeat:no-repeat;*/
    width:50px;
    height:50px;
    position:absolute;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin:auto;
	z-index:9999;
    background-size:contain;
    background-position: center;
}
.playpause-canvas {
    /*background-image:url(http://png-4.findicons.com/files/icons/2315/default_icon/256/media_play_pause_resume.png);
    background-repeat:no-repeat;*/
    /*position:absolute;*/
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin:auto;
    background-size:contain;
    background-position: center;
}