section,
nav,
article,
aside,
hgroup,
header,
footer {
    display: block
}
time,
mark {
    display: inline
}
#ArchiveList .toggle {
    cursor: pointer;
    font-family: Arial, sans-serif
}
#ArchiveList .toggle-open {
    _font-size: 1.7em;
    line-height: .6em
}
#ArchiveList {
    text-align: left
}
#ArchiveList a.post-count-link,
#ArchiveList a.post-count-link:link,
#ArchiveList a.post-count-link:visited {
    text-decoration: none
}
#ArchiveList a.toggle,
#ArchiveList a.toggle:link,
#ArchiveList a.toggle:visited,
#ArchiveList a.toggle:hover {
    color: inherit;
    text-decoration: none
}
.BlogArchive #ArchiveList ul li {
    background: none;
    list-style: none;
    list-style-image: none;
    list-style-position: outside;
    border-width: 0;
    padding-left: 15px;
    text-indent: -15px;
    margin: .25em 0;
    background-image: none
}
.BlogArchive #ArchiveList ul ul li {
    padding-left: 1.2em
}
.BlogArchive #ArchiveList ul {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-image: none;
    border-width: 0
}
.BlogArchive #ArchiveList ul.posts li {
    padding-left: 1.3em
}
#ArchiveList .collapsed ul {
    display: none
}
.post-footer abbr {
    border: none
}
.author-profile {
    margin: 5px 5px 0 0;
    overflow: hidden
}
.author-profile img {
    border: 1px solid #efefef;
    float: left;
    margin-right: 5px
}
#blog-pager-newer-link {
    float: left
}
#blog-pager-older-link {
    float: right
}
#blog-pager {
    margin: 1em 0;
    text-align: center;
    overflow: hidden
}
.backlink-toggle-zippy {
    padding-right: 11px;
    margin-right: .1em;
    cursor: pointer;
    cursor: hand;
    background: url(../../../img/triangle_ltr.gif) no-repeat left center
}
.expanded-backlink .backlink-toggle-zippy {
    background-image: url("//www.blogger.com/img/triangle_open.gif")
}
.collapsed-backlink .collapseable {
    display: none
}
.status-msg-wrap {
    font-size: 110%;
    width: 90%;
    margin: 10px auto;
    position: relative
}
.status-msg-border {
    border: 1px solid #000;
    filter: alpha(opacity=40);
    -moz-opacity: .4;
    opacity: .4;
    width: 100%;
    position: relative
}
.status-msg-bg {
    background-color: #ccc;
    opacity: .8;
    filter: alpha(opacity=30);
    -moz-opacity: .8;
    width: 100%;
    position: relative;
    z-index: 1
}
.status-msg-body {
    text-align: center;
    padding: .3em 0;
    width: 100%;
    position: absolute;
    z-index: 4
}
.status-msg-hidden {
    visibility: hidden;
    padding: .3em 0
}
.status-msg-wrap a {
    padding-left: .4em;
    text-decoration: underline
}
.reactions-label {
    margin: 3px 0 0 0
}
.reactions-label-cell {
    line-height: 2.3em
}
.reactions-iframe {
    background: transparent;
    height: 2.3em;
    width: 100%;
    border: 0
}
#comment-actions {
    background: transparent;
    border: 0;
    padding: 0;
    position: absolute;
    height: 25px
}
#comments .blogger-comment-icon,
.blogger-comment-icon {
    line-height: 16px;
    background: url(/img/b16-rounded.gif) left no-repeat;
    padding-left: 20px
}
#comments .openid-comment-icon,
.openid-comment-icon {
    line-height: 16px;
    background: url(/img/openid16-rounded.gif) left no-repeat;
    padding-left: 20px
}
#comments .anon-comment-icon,
.anon-comment-icon {
    line-height: 16px;
    background: url(/img/anon16-rounded.gif) left no-repeat;
    padding-left: 20px
}
.comment-form {
    clear: both;
    _width: 410px
}
.comment-link {
    white-space: nowrap
}
.paging-control-container {
    float: right;
    margin: 0 6px 0 0;
    font-size: 80%
}
.unneeded-paging-control {
    visibility: hidden
}
#comments-block .avatar-image-container img {
    -ms-interpolation-mode: bicubic;
    border: 1px solid #ccc;
    float: right
}
#comments-block .avatar-image-container.avatar-stock img {
    border-width: 0;
    padding: 1px
}
#comments-block .avatar-image-container {
    height: 37px;
    left: -45px;
    position: absolute;
    width: 37px
}
#comments-block.avatar-comment-indent {
    margin-left: 45px;
    position: relative
}
#comments-block.avatar-comment-indent dd {
    margin-left: 0
}
iframe.avatar-hovercard-iframe {
    border: 0 none;
    padding: 0;
    width: 25em;
    height: 9.4em;
    margin: .5em
}
.comments {
    clear: both;
    margin-top: 10px;
    margin-bottom: 0
}
.comments .comments-content {
    margin-bottom: 16px
}
.comments .comment .comment-actions a {
    padding-right: 5px;
    padding-top: 5px
}
.comments .comment .comment-actions a:hover {
    text-decoration: underline
}
.comments .comments-content .comment-thread ol {
    list-style-type: none;
    padding: 0;
    text-align: left
}
.comments .comments-content .inline-thread {
    padding: .5em 1em
}
.comments .comments-content .comment-thread {
    margin: 8px 0
}
.comments .comments-content .comment-thread:empty {
    display: none
}
.comments .comments-content .comment-replies {
    margin-left: 36px;
    margin-top: 1em
}
.comments .comments-content .comment {
    margin-bottom: 16px;
    padding-bottom: 8px
}
.comments .comments-content .comment:first-child {
    padding-top: 16px
}
.comments .comments-content .comment:last-child {
    border-bottom: 0;
    padding-bottom: 0
}
.comments .comments-content .comment-body {
    position: relative
}
.comments .comments-content .user {
    font-style: normal;
    font-weight: bold
}
.comments .comments-content .icon.blog-author {
    display: inline-block;
    height: 18px;
    margin: 0 0 -4px 6px;
    width: 18px
}
.comments .comments-content .datetime {
    margin-left: 6px
}
.comments .comments-content .comment-header,
.comments .comments-content .comment-content {
    margin: 0 0 8px
}
.comments .comments-content .comment-content {
    text-align: justify
}
.comments .comments-content .owner-actions {
    position: absolute;
    right: 0;
    top: 0
}
.comments .comments-replybox {
    border: none;
    height: 250px;
    width: 100%
}
.comments .comment-replybox-single {
    margin-left: 48px;
    margin-top: 5px
}
.comments .comment-replybox-thread {
    margin-top: 5px
}
.comments .comments-content .loadmore a {
    display: block;
    padding: 10px 16px;
    text-align: center
}
.comments .thread-toggle {
    cursor: pointer;
    display: inline-block
}
.comments .continue {
    cursor: pointer
}
.comments .continue a {
    display: block;
    font-weight: bold;
    padding: .5em
}
.comments .comments-content .loadmore {
    cursor: pointer;
    margin-top: 3em;
    max-height: 3em
}
.comments .comments-content .loadmore.loaded {
    max-height: 0;
    opacity: 0;
    overflow: hidden
}
.comments .thread-chrome.thread-collapsed {
    display: none
}
.comments .thread-toggle {
    display: inline-block
}
.comments .thread-toggle .thread-arrow {
    display: inline-block;
    height: 6px;
    margin: .3em;
    overflow: visible;
    padding-right: 4px;
    width: 7px
}
.comments .thread-expanded .thread-arrow {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAG0lEQVR42mNgwAfKy8v/48I4FeA0AacVDFQBAP9wJkE/KhUMAAAAAElFTkSuQmCC") no-repeat scroll 0 0 transparent
}
.comments .thread-collapsed .thread-arrow {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAJUlEQVR42mNgAILy8vL/DLgASBKnApgkVgXIkhgKiNKJ005s4gDLbCZBiSxfygAAAABJRU5ErkJggg==") no-repeat scroll 0 0 transparent
}
.comments .avatar-image-container {
    float: left;
    max-height: 36px;
    overflow: hidden;
    width: 36px
}
.comments .avatar-image-container img {
    max-width: 36px
}
.comments .comment-block {
    margin-left: 48px;
    position: relative
}
@media screen and (max-device-width: 480px) {
    .comments .comments-content .comment-replies {
        margin-left: 0
    }
}
table.tr-caption-container {
    padding: 4px;
    margin-bottom: .5em
}
td.tr-caption {
    font-size: 80%
}
.icon-action {
    border-style: none !important;
    margin: 0 0 0 .5em !important;
    vertical-align: middle
}
.comment-action-icon {
    width: 13px;
    height: 13px;
    margin-top: 3px
}
.delete-comment-icon {
    background: url("/img/icon_delete13.gif") no-repeat left;
    padding: 7px
}
#comment-popup {
    position: absolute;
    visibility: hidden;
    width: 100px;
    height: 20px
}
@media all {
    .BLOG_mobile_video_class {
        display: none
    }
}
@media handheld {
    .BLOG_mobile_video_class {
        display: inline
    }
    .BLOG_video_class {
        display: none
    }
}
.post-share-buttons {
    display: inline-block;
    margin-top: .5em;
    vertical-align: middle
}
.share-button {
    width: 20px;
    height: 20px;
    background: url(/img/share_buttons_20_3.png) no-repeat left !important;
    overflow: hidden;
    margin-left: -1px;
    position: relative
}
.dummy-container {
    vertical-align: top;
    padding-left: .3em
}
a:hover.share-button {
    text-decoration: none;
    z-index: 1
}
.share-button-link-text {
    display: block;
    text-indent: -9999px
}
.sb-email {
    background-position: 0 0 !important
}
a:hover.sb-email {
    background-position: 0 -20px !important
}
a:active.sb-email {
    background-position: 0 -40px !important
}
.sb-blog {
    background-position: -20px 0 !important
}
a:hover.sb-blog {
    background-position: -20px -20px !important
}
a:active.sb-blog {
    background-position: -20px -40px !important
}
.sb-twitter {
    background-position: -40px 0 !important
}
a:hover.sb-twitter {
    background-position: -40px -20px !important
}
a:active.sb-twitter {
    background-position: -40px -40px !important
}
.sb-facebook {
    background-position: -60px 0 !important
}
a:hover.sb-facebook {
    background-position: -60px -20px !important
}
a:active.sb-facebook {
    background-position: -60px -40px !important
}
.sb-buzz {
    display: none !important
}
.sb-orkut {
    background-position: -80px 0 !important
}
a:hover.sb-orkut {
    background-position: -80px -20px !important
}
a:active.sb-orkut {
    background-position: -80px -40px !important
}
.sb-pinterest {
    background-position: -100px 0 !important
}
a:hover.sb-pinterest {
    background-position: -100px -20px !important
}
a:active.sb-pinterest {
    background-position: -100px -40px !important
}
.goog-inline-block {
    position: relative;
    display: -moz-inline-box;
    display: inline-block
}
* html .goog-inline-block {
    display: inline
}
*:first-child+html .goog-inline-block {
    display: inline
}
.goog-custom-button {
    margin: 2px;
    border: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #000;
    text-decoration: none;
    list-style: none;
    vertical-align: middle;
    cursor: default;
    outline: none
}
.goog-custom-button-outer-box,
.goog-custom-button-inner-box {
    border-style: solid;
    border-color: transparent;
    vertical-align: top
}
.goog-custom-button-checked .goog-custom-button-outer-box,
.goog-custom-button-checked .goog-custom-button-inner-box {
    border-color: #ccc
}
.goog-custom-button-outer-box {
    margin: 0;
    border-width: 1px 0;
    padding: 0
}
.goog-custom-button-inner-box {
    -moz-box-orient: vertical;
    margin: 0 -1px;
    border-width: 0 1px;
    padding: 3px 4px;
    white-space: nowrap
}
* html .goog-custom-button-inner-box {
    left: -1px
}
* html .goog-custom-button-rtl .goog-custom-button-outer-box {
    left: -1px
}
* html .goog-custom-button-rtl .goog-custom-button-inner-box {
    right: auto
}
*:first-child+html .goog-custom-button-inner-box {
    left: -1px
}
*:first-child+html .goog-custom-button-rtl .goog-custom-button-inner-box {
    left: 1px
}
::root .goog-custom-button,
::root .goog-custom-button-outer-box {
    line-height: 0
}
::root .goog-custom-button-inner-box {
    line-height: normal
}
.goog-custom-button-active,
.goog-custom-button-checked {
    background-color: #faf6bc;
    background-position: bottom left
}
.blog-mobile-link {
    padding: 15px
}
#mobile-share-button {
    height: 18px;
    padding: 1px 10px;
    text-align: center;
    vertical-align: top;
    margin: 0
}
#mobile-share-button a {
    display: block;
    height: 100%;
    line-height: 18px;
    width: 100%
}
.mobile-share-panel-outer {
    background: #444
}
.mobile-share-panel-inner {
    background: #fff;
    border-bottom-left-radius: 2px 2px;
    border-bottom-right-radius: 2px 2px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    font-family: Arial;
    font-size: 18px;
    color: #666
}
.mobile .mobile-share-panel-inner a {
    display: block;
    color: #666
}
.mobile-share-panel-title {
    background: #f5f5f5;
    border-bottom: 1px solid #eee;
    border-top-left-radius: 2px 2px;
    border-top-right-radius: 2px 2px;
    height: 25px;
    line-height: 25px;
    padding: 10px 10px 10px 20px
}
.mobile a.mobile-share-panel-button {
    background: #fff url(/img/mobile_share_icons4.png) no-repeat left !important;
    border-bottom: 1px solid #eee;
    height: 50px;
    line-height: 30px;
    padding: 10px 0 10px 65px;
    width: 100%;
    -webkit-box-sizing: border-box
}
.mobile-share-panel-button-close {
    font-size: 26px;
    float: right;
    height: 25px;
    line-height: 25px;
    text-align: center;
    width: 25px
}
.mobile a.mobile-share-panel-button-email {
    background-position: 10px 0 !important
}
.mobile a.mobile-share-panel-button-facebook {
    background-position: 10px -50px !important
}
.mobile a.mobile-share-panel-button-twitter {
    background-position: 10px -100px !important
}
.mobile a.mobile-share-panel-button-googleplus {
    background: #fff url(http://www.gstatic.com/images/icons/gplus-32.png) no-repeat left !important;
    background-position: 19px 9px !important
}
.mobile a.mobile-share-panel-button-buzz {
    background-position: 10px -150px !important;
    border-bottom-left-radius: 2px 2px;
    border-bottom-right-radius: 2px 2px
}
.blog-list-container ul {
    padding-left: 0
}
.blog-list-container ul li {
    padding-left: 0;
    list-style: none;
    list-style-image: none;
    clear: left
}
.blog-list-container a {
    text-decoration: none
}
.blog-list-container a:hover {
    text-decoration: underline
}
.blog-list-container .blog-content {
    float: left;
    margin: 0 0 5px 5px;
    text-indent: 0;
    width: 85%
}
.blog-list-container .blog-title {
    font-weight: bold;
    line-height: 16px;
    margin: 2px 0 0 0
}
.blog-list-container .blog-icon {
    float: left;
    margin-top: 2px;
    vertical-align: top;
    text-indent: 0;
    width: 16px
}
.blog-list-container .item-content {
    font-size: 95%;
    line-height: 1.3em
}
.blog-list-container .item-thumbnail {
    float: left;
    margin: 2px 5px 5px 0
}
.blog-list-container .item-time {
    font-size: 95%;
    font-style: italic;
    clear: left
}
.blog-list-title {
    font-weight: bold
}
.blog-list-container .show-option {
    font-size: 75%;
    text-align: right
}
.contact-form-widget {
    height: 320;
    margin-left: 0;
    max-width: 250px;
    padding: 0;
    padding-top: 0;
    width: 100%
}
.contact-form-success-message {
    background: #f9edbe;
    border: 0 solid #f0c36d;
    bottom: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    color: #222;
    font-size: 11px;
    line-height: 19px;
    margin-left: 0;
    opacity: 1;
    position: static;
    text-align: center
}
.contact-form-error-message {
    background: #f9edbe;
    border: 0 solid #f0c36d;
    bottom: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    color: #666;
    font-size: 11px;
    font-weight: bold;
    line-height: 19px;
    margin-left: 0;
    opacity: 1;
    position: static;
    text-align: center
}
.contact-form-success-message-with-border {
    background: #f9edbe;
    border: 1px solid #f0c36d;
    bottom: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    color: #222;
    font-size: 11px;
    line-height: 19px;
    margin-left: 0;
    opacity: 1;
    position: static;
    text-align: center
}
.contact-form-error-message-with-border {
    background: #f9edbe;
    border: 1px solid #f0c36d;
    bottom: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    color: #666;
    font-size: 11px;
    font-weight: bold;
    line-height: 19px;
    margin-left: 0;
    opacity: 1;
    position: static;
    text-align: center
}
.contact-form-cross {
    height: 11px;
    margin: 0 5px;
    vertical-align: -8.5%;
    width: 11px
}
.contact-form-email,
.contact-form-name {
    background: #fff;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    box-sizing: border-box;
    color: #333;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 13px;
    height: 24px;
    margin: 0;
    margin-top: 5px;
    padding: 0;
    vertical-align: top
}
.contact-form-email-message {
    background: #fff;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    box-sizing: border-box;
    color: #333;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 13px;
    margin: 0;
    margin-top: 5px;
    padding: 0;
    vertical-align: top
}
.contact-form-email:hover,
.contact-form-name:hover,
.contact-form-email-message:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1)
}
.contact-form-email:focus,
.contact-form-name:focus,
.contact-form-email-message:focus {
    border: 1px solid #4d90fe;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
    outline: none
}
.contact-form-name,
.contact-form-email,
.contact-form-email-message {
    max-width: 220px;
    width: 100%
}
.contact-form-button {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-transition: all .218s;
    -moz-transition: all .218s;
    -o-transition: all .218s;
    -webkit-user-select: none;
    -moz-user-select: none;
    background-color: #f5f5f5;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#f1f1f1));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: -ms-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
    border: 1px solid #dcdcdc;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 2px;
    color: #444;
    cursor: default;
    display: inline-block;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorStr='#f5f5f5', EndColorStr='#f1f1f1');
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    margin-left: 0;
    min-width: 54px;
    *min-width: 70px;
    padding: 0 8px;
    text-align: center;
    transition: all .218s
}
.contact-form-button:hover,
.contact-form-button.hover {
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    -moz-transition: all 0;
    -o-transition: all 0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    -webkit-transition: all 0;
    background-color: #f8f8f8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f1f1f1));
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: -ms-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    color: #222;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorStr='#f8f8f8', EndColorStr='#f1f1f1');
    transition: all 0
}
.contact-form-button.focus,
.contact-form-button.right.focus,
.contact-form-button.mid.focus,
.contact-form-button.left.focus {
    border: 1px solid #4d90fe;
    outline: none;
    z-index: 4 !important
}
.contact-form-button-submit:focus,
.contact-form-button-submit.focus {
    -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .5);
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .5);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .5)
}
.contact-form-button-submit:focus,
.contact-form-button-submit.focus {
    border-color: #404040
}
.contact-form-button-submit:focus:hover,
.contact-form-button-submit.focus:hover {
    -moz-box-shadow: inset 0 0 0 1px #fff, 0 1px 1px rgba(0, 0, 0, .1);
    -webkit-box-shadow: inset 0 0 0 1px #fff, 0 1px 1px rgba(0, 0, 0, .1);
    box-shadow: inset 0 0 0 1px #fff, 0 1px 1px rgba(0, 0, 0, .1)
}
.contact-form-button-submit {
    background-color: #666;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#777), to(#555));
    background-image: -webkit-linear-gradient(top, #777, #555);
    background-image: -moz-linear-gradient(top, #777, #555);
    background-image: -ms-linear-gradient(top, #777, #555);
    background-image: -o-linear-gradient(top, #777, #555);
    background-image: linear-gradient(top, #777, #555);
    border: 1px solid #505050;
    color: #fff;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorStr='#777777', EndColorStr='#555555')
}
.contact-form-button-submit:hover {
    background-color: #555;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#666), to(#444));
    background-image: -webkit-linear-gradient(top, #666, #444);
    background-image: -moz-linear-gradient(top, #666, #444);
    background-image: -ms-linear-gradient(top, #666, #444);
    background-image: -o-linear-gradient(top, #666, #444);
    background-image: linear-gradient(top, #666, #444);
    border: 1px solid #404040;
    color: #fff;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorStr='#666666', EndColorStr='#444444')
}
.contact-form-button-submit:active,
.contact-form-button-submit:focus:active,
.contact-form-button-submit.focus:active {
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3)
}
.contact-form-button-submit {
    background-color: #4d90fe;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4d90fe), to(#4787ed));
    background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
    background-image: -moz-linear-gradient(top, #4d90fe, #4787ed);
    background-image: -ms-linear-gradient(top, #4d90fe, #4787ed);
    background-image: -o-linear-gradient(top, #4d90fe, #4787ed);
    background-image: linear-gradient(top, #4d90fe, #4787ed);
    border-color: #3079ed;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorStr='#4d90fe', EndColorStr='#4787ed')
}
.contact-form-button-submit:hover {
    background-color: #357ae8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4d90fe), to(#357ae8));
    background-image: -webkit-linear-gradient(top, #4d90fe, #357ae8);
    background-image: -moz-linear-gradient(top, #4d90fe, #357ae8);
    background-image: -ms-linear-gradient(top, #4d90fe, #357ae8);
    background-image: -o-linear-gradient(top, #4d90fe, #357ae8);
    background-image: linear-gradient(top, #4d90fe, #357ae8);
    border-color: #2f5bb7;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorStr='#4d90fe', EndColorStr='#357ae8')
}
.contact-form-button.disabled,
.contact-form-button.disabled:hover,
.contact-form-button.disabled:active {
    background: none;
    border: 1px solid #f3f3f3;
    border: 1px solid rgba(0, 0, 0, .05);
    color: #b8b8b8;
    cursor: default;
    pointer-events: none
}
.contact-form-button-submit.disabled,
.contact-form-button-submit.disabled:hover,
.contact-form-button-submit.disabled:active {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    background-color: #666;
    border: 1px solid #505050;
    color: #fff;
    filter: alpha(opacity=50);
    opacity: .5
}
.contact-form-button-submit.disabled,
.contact-form-button-submit.disabled:hover,
.contact-form-button-submit.disabled:active {
    background-color: #4d90fe;
    border-color: #3079ed
}
div.gsc-control {
    width: 100%
}
.cse-status {
    color: #676767;
    font-size: 11px;
    margin: 10px;
    padding: 4px
}
#uds-searchControl {
    position: relative
}
#uds-searchClearResults {
    position: absolute;
    top: 15px;
    right: -3px;
    display: none;
    border-width: 1px;
    border-style: solid;
    padding: 0;
    height: 9px;
    width: 9px
}
#uds-searchControl .gsc-results {
    padding: 1em 1em 0 1em;
    margin: 0 0 2em;
    border-width: 1px;
    border-style: solid;
    width: auto
}
#uds-searchControl .gsc-resultsHeader {
    display: none
}
#uds-searchControl .gsc-tabsArea {
    float: left;
    position: relative;
    top: 1px;
    padding-right: 10px
}
#uds-searchControl .gsc-tabHeader {
    float: left;
    line-height: 1.7
}
#uds-searchControl .gsc-tabHeader.gsc-tabhActive {
    border-width: 2px 1px 0 1px;
    border-style: solid;
    font-weight: bold
}
#uds-searchControl .gsc-tabHeader.gsc-tabhInactive {
    border-width: 0;
    border-style: solid;
    padding-top: 2px
}
#uds-searchControl .gsc-resultsbox-visible {
    clear: left
}
#uds-searchControl .gs-result .gs-title,
#uds-searchControl .gsc-results .gsc-trailing-more-results {
    line-height: 1.5em
}
#uds-searchControl .gs-relativePublishedDate,
#uds-searchControl .gs-publishedDate {
    line-height: 1.3em
}
#uds-searchControl .gs-result a.gs-visibleUrl,
#uds-searchControl .gs-result .gs-visibleUrl {
    line-height: 1.3em;
    font-size: 95%
}
#uds-searchControl .gs-result .gs-snippet {
    margin: .25em 0;
    line-height: 1.2em
}
#uds-searchControl .gs-no-results-result .gs-snippet,
#uds-searchControl .gs-error-result .gs-snippet {
    border: none;
    background-color: transparent;
    font-style: italic
}
.Example {}.FollowByEmail .follow-by-email-inner {
    position: relative
}
.FollowByEmail .follow-by-email-inner span {
    display: block;
    position: relative;
    margin-right: 74px
}
.FollowByEmail .follow-by-email-inner input {
    font-family: arial, sans-serif
}
.FollowByEmail .follow-by-email-inner::-webkit-input-placeholder,
.FollowByEmail .follow-by-email-inner input:-moz-placeholder {
    font-size: 13px;
    font-family: arial, sans-serif;
    color: #999
}
.FollowByEmail .follow-by-email-inner .follow-by-email-address {
    width: 100%;
    height: 22px;
    font-size: 13px;
    border: 1px inset
}
.FollowByEmail .follow-by-email-inner .follow-by-email-submit {
    width: 60px;
    margin: 0;
    margin-left: 8px;
    border: 0;
    border-radius: 2px;
    -moz-border-radius: 2px;
    background: #000;
    background: rgba(0, 0, 0, .6);
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    height: 26px;
    z-index: 0
}
.FollowByEmail .widget-item-control {
    margin-top: 5px
}
a.follower-link {
    cursor: pointer
}
a.next-page-link {
    cursor: pointer
}
.follower {
    width: 32px;
    height: 32px;
    float: left;
    margin: 2px
}
.follower img {
    width: 32px;
    clip: rect(0, 32px, 32px, 0);
    position: absolute
}
div.clear {
    clear: both
}
.label-size-1 {
    font-size: 80%;
    filter: alpha(80);
    opacity: .8
}
.label-size-2 {
    font-size: 90%;
    filter: alpha(90);
    opacity: .9
}
.label-size-3 {
    font-size: 100%
}
.label-size-4 {
    font-size: 120%
}
.label-size-5 {
    font-size: 160%
}
.cloud-label-widget-content {
    text-align: justify
}
.label-count {
    white-space: nowrap
}
.label-size {
    line-height: 1.2
}
.quickedit {
    cursor: pointer
}
.Navbar iframe {
    display: block
}
#navbar-iframe {
    display: block;
    height: 30px
}
.newsBar-status {
    color: #676767;
    font-size: 11px;
    margin: 10px;
    padding: 4px
}
img.gsc-branding-img-noclear {
    display: inline
}
.crosscol .PageList UL,
.footer .PageList UL {
    list-style: none;
    margin: 0;
    padding: 0
}
.crosscol .PageList LI,
.footer .PageList LI {
    list-style: none;
    float: left;
    padding-right: .75em;
    margin: .75em;
    background: none
}
.crosscol .PageList H2 {
    display: none
}
.PageList LI A {
    font-weight: normal
}
.PageList LI.selected A {
    font-weight: bold;
    text-decoration: none
}
.PlusBadge {}.PlusFollowers {}.PlusOne {}.PlusPosts {}.PopularPosts .item-thumbnail {
    float: left;
    margin: 0 5px 5px 0
}
.PopularPosts .widget-content ul li {
    padding: .7em 0
}
.PopularPosts img {
    padding-right: .4em
}
.PopularPosts .item-title {
    padding-bottom: .2em
}
.profile-img {
    float: left;
    margin: 0 5px 5px
}
.profile-data {
    margin: 0
}
.profile-datablock {
    margin: .5em 0
}
.profile-name-link {
    background: no-repeat left top;
    display: inline-block;
    min-height: 20px;
    padding-left: 20px
}
.profile-textblock {
    margin: .5em 0
}
.slideshow-status {
    color: #676767;
    font-size: 11px;
    margin: 10px;
    padding: 4px
}
.slideshow-container {
    margin: auto;
    text-transform: none;
    font-family: Arial, sans-serif;
    letter-spacing: normal;
    word-spacing: normal;
    width: 150px;
    height: 150px;
    clear: both
}
img.gsc-branding-img-noclear {
    display: inline
}
.slideshow-container img {
    display: inline
}
.Stats .counter-wrapper {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    vertical-align: top;
    direction: ltr
}
.Stats img {
    margin-right: 10px;
    vertical-align: top
}
.Stats .graph-counter-wrapper {
    color: #fff
}
.Stats .digit {
    background: url("/img/widgets/stats-flipper.png") no-repeat left !important;
    border: 1px solid #fff;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    margin-left: -1px;
    position: relative;
    text-align: center;
    width: 22px
}
.Stats .blind-plate {
    border-bottom: 1px solid #fff;
    border-top: 1px solid #000;
    filter: alpha(opacity=65);
    height: 0;
    left: 0;
    opacity: .65;
    position: absolute;
    top: 13px;
    width: 22px
}
.Stats .stage-0 {
    background-position: 0 0 !important
}
.Stats .stage-1 {
    background-position: -22px 0 !important
}
.Stats .stage-2 {
    background-position: -44px 0 !important
}
.Stats .stage-3 {
    background-position: -66px 0 !important
}
.widget.Subscribe {
    position: static
}
.widget.Subscribe .widget-content {
    zoom: 1
}
.subscribe-feed-title {
    float: left
}
.subscribe {
    cursor: pointer;
    color: #999
}
.subscribe a {
    color: #999
}
.subscribe-wrapper {
    margin: .5em;
    padding: 0;
    position: relative;
    zoom: 1
}
div.subscribe {
    cursor: pointer;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 144px
}
div.subscribe div.top {
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='http://www.blogger.com/img/widgets/s_top.png', sizingMethod='crop');
    font-size: 1em;
    padding: 4px 0 1px;
    width: 144px
}
html>body div.subscribe div.top {
    background: url(//www.blogger.com/img/widgets/s_top.png) top left no-repeat
}
span.inner {
    margin: 0;
    padding: 0
}
div.subscribe div.top span.inner {
    margin: 0 5px
}
.feed-icon {
    vertical-align: baseline;
    display: inline
}
div.subscribe div.bottom {
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='http://www.blogger.com/img/widgets/s_bottom.png', sizingMethod='crop');
    font-size: 3px;
    height: 3px;
    line-height: 0
}
.subscribe-wrapper .expanded {
    position: absolute;
    top: 0;
    z-index: 20
}
html>body div.subscribe div.bottom {
    background: url(//www.blogger.com/img/widgets/s_bottom.png) bottom left no-repeat;
    margin-bottom: 0;
    padding-bottom: 0;
    width: 144px
}
.feed-reader-links {
    list-style: none;
    margin: 10px 20px;
    padding: 0;
    position: relative
}
.subscribe-dropdown-arrow {
    float: right;
    margin-right: 6px;
    margin-top: 4px
}
.feed-reader-links {
    list-style: none;
    margin: 0;
    padding: 0
}
a.feed-reader-link {
    display: block;
    font-weight: normal;
    margin: .5em;
    text-decoration: none;
    z-index: 1000
}
.feed-reader-link img {
    border: 0;
    display: inline
}
.Translate a.goog-te-menu-value {
    text-decoration: none
}
.Translate .goog-te-menu-value span {
    color: #000
}
.Translate .goog-te-gadget a:link.goog-logo-link {
    font-size: 12px;
    font-weight: bold;
    color: #444;
    text-decoration: none
}
div.floatingPlayer_gsvb div.playerInnerBox_gsvb .player_gsvb {
    width: 320px;
    height: 260px
}
.videoBar-status {
    color: #676767;
    font-size: 11px;
    margin: 10px;
    padding: 4px
}
.videoBar-container {
    margin: auto;
    text-transform: none;
    font-family: Arial, sans-serif;
    letter-spacing: normal;
    word-spacing: normal;
    clear: both
}
.wikipedia-search-main-container {
    max-width: 350px
}
.wikipedia-search-wiki-link {
    vertical-align: middle;
    width: 8%
}
.wikipedia-search-input {
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    height: 28px;
    padding-left: 4px;
    vertical-align: top;
    width: 60%
}
.wikipedia-search-input:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    -ms-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1)
}
.wikipedia-search-input:focus {
    border: 1px solid #4d90fe;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
    -ms-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
    outline: none
}
.wikipedia-search-form {
    margin: 0;
    overflow: hidden;
    padding-bottom: 0;
    padding-left: 6px
}
.wikipedia-search-results-header {
    border-bottom: 1px solid #ebebeb;
    display: none;
    font-weight: bold;
    height: 19px;
    padding-top: 3px
}
.wikipedia-search-button {
    background-color: #4d90fe;
    background-image: url('/img/widgets/icon_wikipedia_search.png');
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #3079ed;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    color: transparent;
    font-size: 11px;
    font-weight: bold;
    height: 28px;
    text-align: center;
    width: 38px
}
.wikipedia-search-button:hover {
    background-color: #357ae8;
    border: 1px solid #2f5bb7;
    color: transparent
}
.wikipedia-search-button:focus {
    -webkit-box-shadow: inset 0 0 0 1px #fff;
    -moz-box-shadow: inset 0 0 0 1px #fff;
    -ms-box-shadow: inset 0 0 0 1px #fff;
    box-shadow: inset 0 0 0 1px #fff
}
.wikipedia-search-results {
    color: #dd4b39;
    padding-top: 2px
}
.wikipedia-search-result-link a:link,
.wikipedia-search-more a:visited,
.wikipedia-search-result-link a:visited {
    text-decoration: none
}
.wikipedia-search-more a:hover,
.wikipedia-search-result-link a:hover,
.wikipedia-search-more a:active,
.wikipedia-search-result-link a:active {

    text-decoration: underline
}
.wikipedia-search-more a:link {
    text-decoration: none
}
.wikipedia-search-main-container {
    padding-top: 5px
}
.wikipedia-searchtable {
    position: relative;
    right: 6px
}
.wikipedia-search-bar {
    white-space: nowrap
}
.wikipedia-icon {
    padding-bottom: 5px
}
.wikipedia-input-box {
    padding: 0 2px
}
body {
    margin: 0;
    padding: 0 0 1px
}
.content-outer,
.header-outer,
.tabs-outer,
.main-outer,
.main-inner,
.footer-outer,
.post,
.comments,
.widget,
.date-header,
.inline-ad {
    position: relative;
    min-height: 0;
    _position: static;
    _height: 1%
}
.footer-outer {
    margin-bottom: -1px
}
.content-inner {
    padding: 10px
}
.tabs-inner {
    padding: 0 15px
}
.main-inner {
    padding: 30px 0
}
.main-inner .column-center-inner,
.main-inner .column-left-inner,
.main-inner .column-right-inner {
    padding: 0 15px
}
.footer-inner {
    padding: 30px 15px
}
.section {
   /* margin: 0 15px*/
}
.widget {
    margin: 70px 0;
    _margin: 0 0 10px
}
.section:first-child .widget:first-child {
    margin-top: 0
}
.section:first-child #uds-searchControl+.widget {
    margin-top: 0
}
.section:last-child .widget:last-child {
    margin-bottom: 0
}
.tabs:first-child .widget {
    margin-bottom: 0
}
body .navbar {
    height: 30px;
    padding: 0;
    margin: 0
}
body .navbar .Navbar {
    position: absolute;
    z-index: 10;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    background: none;
    border: none
}
.header-inner .section {
    margin: 0
}
.header-inner .widget {
    margin-left: 30px;
    margin-right: 30px
}
.header-inner .Header {
    margin: 0
}
.header-inner .Header #header-inner {
    overflow: hidden
}
.header-inner .Header .titlewrapper {
    padding: 22px 30px 0
}
.header-inner .Header .descriptionwrapper {
    padding: 0 30px;
    margin-bottom: 25px
}
.Header h1 {
    margin-bottom: 10px
}
.Header .description {
    margin: .5em 0 10px;
    padding: 0 2px
}
a img {
    border: none;
    position: relative
}
h1,
h2,
h3,
h4 {
    margin: 0;
    position: relative
}
h1 a:hover {
    text-decoration: none
}
h3 a:hover {
    text-decoration: none
}
.tabs .widget h2 {
    display: none
}
.tabs .widget ul,
.tabs .widget ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none
}
.tabs .widget li,
.tabs .widget li {
    margin: 0;
    padding: 0;
    float: left
}
.tabs .widget li a:hover {
    text-decoration: none
}
.widget {
	margin-bottom: 0px;
    line-height: 1.4
}
.widget ul {
    padding: 0 0 0 1.25em;
    margin: 0;
    line-height: 1.2
}
.BlogList ul {
    padding: 0
}
.BlogList li .blog-content {
    position: relative
}
.widget li,
.BlogArchive #ArchiveList ul.flat li {
    padding: .25em 0;
    margin: 0;
    text-indent: 0
}
.widget .post-body ul {
    padding: 0 2.5em;
    margin: .5em 0;
    line-height: 1.4
}
.widget .post-body li {
    margin-bottom: .25em;
    padding-top: 0;
    padding-bottom: 0
}
.item-control {
    display: none
}
.item-control a,
.item-action a {
    text-decoration: none !important
}
.widget-item-control {
    float: right;
    height: 20px;
    margin-top: -20px;
    position: relative;
    z-index: 10
}
.widget-item-control a {
    opacity: .5
}
.widget-item-control a:hover {
    opacity: 1
}
.widget .widget-item-control a img {
    border: none;
    padding: none;
    background: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -ie-box-shadow: none;
    box-shadow: none
}
.post-body {
    width: 100%;
    _overflow: hidden
}
.post-header,
.post-footer {
    line-height: 1.6
}
.post-footer-line>* {
    margin-right: 1em
}
.post-footer-line>*:last-child {
    margin-right: 0
}
.post-timestamp {
    margin-left: -1em
}
.post-footer-line>*:first-child {
    margin-left: 0
}
.post .tr-caption-container {
    position: relative
}
.inline-ad {
    margin: 2em 0;
    text-align: center;
    line-height: 0
}
#comments .comment-author {
    padding-left: 25px
}
.comment-body {
    margin: .5em 25px
}
.comment-footer {
    margin: .5em 25px 1.5em
}
.comment-body p {
    margin: 0
}
#comments .avatar-comment-indent .comment-author {
    margin-left: -45px;
    padding-left: 45px
}
.deleted-comment {
    font-style: italic;
    opacity: .5
}
.Profile img {
    margin: 0 .75em .5em 0
}
.Profile .profile-datablock {
    margin: 0 0 .5em
}
dt {
    font-weight: bold
}
table.section-columns td.first.columns-cell {
    border-left: none
}
#layout .header-outer,
#layout .tabs-outer,
#layout .main-outer,
#layout .footer-outer {
    margin: 5px 0
}
#layout .cap-top,
#layout .cap-bottom {
    display: none
}
#layout .region-inner {
    padding: 0 10px;
    margin: 0
}
#layout .main-inner .column-center-inner,
#layout .main-inner .column-left-inner,
#layout .main-inner .column-right-inner {
    padding: 0 5px
}
html {
    height: 100%
}
body {
    min-height: 100%;
    _height: 100%;
    position: relative
}
.content {
    position: relative;
    word-wrap: break-word
}
.content-outer,
.region-inner {
    min-height: 0;
    margin: 0 auto
}
.columns {
    zoom: 1
}
.loading .columns {
    overflow: hidden
}
.columns-inner {
    _height: 1%;
    min-height: 0
}
.column-center-outer,
.column-left-outer,
.column-right-outer {
    position: relative;
    float: left;
    _display: inline;
    _overflow: hidden
}
.column-center-outer {
    width: 100%
}
.column-left-outer {
    margin-left: -100%
}
.fauxcolumns {
    position: relative;
    _height: 1%
}
.fauxcolumn-outer {
    position: absolute;
    top: 0;
    bottom: 0;
    height: expression(this.parentNode.offsetHeight+'px');
    overflow: hidden
}
.fauxcolumn-outer .fauxborder-left,
.fauxcolumn-outer .fauxborder-right,
.fauxcolumn-inner {
    height: 100%
}
.fauxcolumn-left-outer {
    left: 0
}
.fauxcolumn-right-outer {
    right: 0
}
.cap-top,
.cap-bottom {
    position: relative;
    height: 0;
    background-repeat: repeat-x
}
.cap-top .cap-left,
.cap-top .cap-right,
.cap-bottom .cap-left,
.cap-bottom .cap-right {
    height: 100%;
    background-repeat: no-repeat
}
.cap-top,
.cap-top .cap-left {
    background-position: top left
}
.cap-bottom,
.cap-bottom .cap-left {
    background-position: bottom left
}
.cap-top .cap-left,
.cap-bottom .cap-left {
    float: left
}
.cap-top .cap-right {
    background-position: top right;
    float: right
}
.cap-bottom .cap-right {
    background-position: bottom right;
    float: right
}
.fauxborder-left {
    background-position: top left;
    background-repeat: repeat-y;
    position: relative;
    _height: 1%
}
.fauxborder-right {
    background-position: top right;
    background-repeat: repeat-y;
    position: absolute;
    right: 0;
    height: 100%;
    _height: expression(this.parentNode.offsetHeight+'px')
}
table.section-columns {
    border: none;
    table-layout: fixed;
    width: 100%;
    position: relative
}
table.columns-2 td.columns-cell {
    width: 50%
}
table.columns-3 td.columns-cell {
    width: 33.33%
}
table.columns-4 td.columns-cell {
    width: 25%
}
table.section-columns td.columns-cell {
    vertical-align: top
}
.body-fauxcolumns,
.content-fauxcolumns {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    _height: expression(this.parentNode.offsetHeight+'px');
    width: 100%;
    overflow: hidden
}
.body-fauxcolumns .fauxcolumn-outer {
    width: 100%
}
.content-fauxcolumns .fauxcolumn-outer {
    position: relative;
    overflow: visible;
    height: 100%;
    margin: 0 auto
}
.content-fauxcolumns .fauxcolumn-left {
    width: 100%
}