/******************************
	Basic
**********************************/

body {
    font-size: 14px;
    background-color: #F7F7F7;
    font-family: 'PT Sans', sans-serif;
    height: 100%;
}
.ossn-required {
    color: #a94442;
}
::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}
.ossn-form input[type='password'],
.ossn-form text,
.ossn-form select,
.ossn-form textarea,
.ossn-form input[type='text'] {
    width: 100%;
    border: 1px solid #eee;
    padding: 10px;
   /* margin-bottom: 5px;*/
    outline: none;
    display: block;
    resize:vertical;
}
.ossn-topbar-dropdown-menu{
width:25%;
}
#ossn-notif-notification{
width:25%;
}
#ossn-notif-friends{
width:25%;
}
.ossn-form input[type='submit'] {
	margin-top:5px;
    margin-bottom:5px;
}

.ossn-red-borders {
    border: 1px solid #a94442 !important;
}
.fa {
    margin-right: 5px;
}
.ossn-hidden {
    display: none;
}
p {
    font-size: 15px;
}
.col-center {
    float: none;
    margin: 0 auto;
}
.container-table {
    display: table;
    width: 100%;
}
.center-row {
	display: table-cell;
    text-align: center;
}
.radio-block {
	margin-top:10px;
    margin-bottom:10px;
}
.radio-block span {
    display: inline-block;
    margin-right: 10px;
    
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;    
}

/************************************
	Layouts
************************************/
/** didn't we have a minimum page height in goblue? #702 **/
.ossn-layout-module,
.ossn-layout-contents,
.ossn-layout-media,
.ossn-layout-newsfeed {
    margin-top: 30px;
    min-height: 400px;
}
.ossn-home-container,
.ossn-layout-startup {
    min-height: 560px;
}
.ossn-home-container .ossn-page-contents {
    background: rgb(28, 59, 90);
    border: 1px solid rgb(255, 255, 255);
}
.ossn-layout-startup {
    min-height: 560px;
    background:url("http://192.168.1.11/m.mychance.in/themes/goblue/images/background.jpg") no-repeat;
    background-size:cover;
}

.ossn-layout-startup  footer .ossn-footer-menu a {
	color:#fff;
}
.ossn-home-container {
    margin-top: 20px;
}
.ossn-layout-newsfeed .newsfeed-right {
    background: #fff;
    border: 1px solid #eee;
    padding: 10px;
}
.ossn-page-container {
    overflow-x: hidden;
    min-height: 400px;
}
.ossn-layout-module {
    margin-top: 10px;
    background: #fff;
    border: 1px solid #eee;
    padding: 10px;
}
.ossn-layout-module .module-title {
    background: #F9F7F7;
    border: 1px solid #eee;
    padding: 10px;
}
.ossn-layout-module .module-contents {
    padding: 10px;
}
.ossn-layout-module .module-title .title {
    font-weight: bold;
    display: inline-block;
}
.ossn-layout-module .controls {
    float: right;
    display: inline-table;
}
.ossn-layout-media {
	margin-top:10px;
}
.ossn-layout-media .like-share,
.ossn-layout-media .comments-list {
    margin-left: -10px;
    margin-right: -10px;
}
.ossn-layout-media .content,
.ossn-page-contents {
    background: #fff;
    padding: 10px;
    border: 1px solid #eee;
}
.opensource-socalnetwork {
    min-height: 500px;
}
.ossn-home-container .row {
    margin-right: 10px;
    margin-left: 10px;
}
#ossn-signup-errors {
    display: none;
    margin-top:10px;
}
.ossn-error-page  {
	text-align:center;
        padding: 100px;
}
.ossn-error-page .error-heading {
	font-size: 50px;
    font-weight: bold;
}
.ossn-error-page .error-text {
	font-size: 16px;
}
.ossn-error-page  .fa-exclamation-triangle {
    font-size: 100px;
}
.ossn-group-members {
	margin-right: 5px;
}
/*******************************
	Topbar	
********************************/

.topbar {
    background: linear-gradient(#1C3B5A, #1C3B5A);
    color: #fff;
    border-bottom: 1px solid #1C3B5A;
    z-index: 1;
    position: relative;
}
.topbar .fa {
    font-size: 20px;
    margin-top: 5px;
}
.topbar .site-name a {
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px;
    color:#fff;
    display: block;
    font-weight: bold;
}
.topbar .site-name a:hover {
	text-decoration:none;
}

.topbar-menu-left {
    position: relative;
    z-index: 1;
}
.topbar-menu-right li,
.topbar-menu-left li {
    display: inline-block;
	/*width: 25%;*/
}
.topbar-menu-right li a,
.topbar-menu-left li a {
    padding: 10px;
    display: block;
    color: #fff;
}
.topbar-menu-right li:hover,
.topbar-menu-left li:hover {
    cursor: pointer;
    background-color: #1c3b5a;
}
.topbar .right-side-nospace .topbar-menu-right {
    margin-right: 0px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.topbar .right-side-space .topbar-menu-right {
    margin-right: 10px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.topbar .ossn-icons-topbar-friends,
.topbar .ossn-icons-topbar-messages,
.topbar .ossn-icons-topbar-notification i {
    color: #fff;
}
.topbar .ossn-icons-topbar-friends-new,
.topbar .ossn-icons-topbar-messages-new,
.topbar .ossn-icons-topbar-notifications-new i {
    color: #fff;
}
.ossn-topbar-dropdown-menu {
    float: right;
}
.ossn-topbar-dropdown-menu ul li a,
.ossn-topbar-dropdown-menu ul li {
    display: block;
    width: 100%;
    color: #000;
}
.ossn-topbar-dropdown-menu .dropdown-menu {
   /* margin: 1px -60px 0;*/
}
/***********************************
	Ossn Wall
*************************************/

.ossn-wall {} .ossn-wall-items {} .ossn-wall-item {
    padding: 30px;
    padding-top: 10px;
    border: 1px solid #eee;
    margin-top: 20px;
    background-color: #fff;
    padding-bottom: 0px;
}
.ossn-wall-item{
	margin-top: 2px !important;
}
.ossn-wall-item:first-child {
    margin-top: 0px;
}
.ossn-wall-item .friends a {
    text-decoration: none;
}
.ossn-wall-item .friends a:first-child:before {
    content: "-";
    margin-left: 5px;
    margin-right: 5px;
}
.ossn-wall-item .user-img {
   /* border-radius: 50px;*/
    display: inline-block;
    float: left;
    margin-right: 10px;
}
.ossn-wall-item .meta {} .ossn-wall-item .meta .user {
    display: inline-block;
    margin-top: 3px;
}
.ossn-wall-item .meta .user a {
    font-weight: bold;
}
.ossn-wall-item .meta .user span {
    color: #999;
}
.ossn-wall-item .post-contents {
    margin-top: 15px;
}
.ossn-wall-item .post-contents p {
   /** Incorrect Hyphenation in the theme GoBlue 3.0 #824 **/
    word-break: break-word;
    text-align: justify;
}
.ossn-wall-item .post-contents img {
    max-width: 100%;
    border: 1px solid #eae8e8;
    display: block;
    margin-bottom: 10px;
}
.ossn-wall-item .meta .post-menu {
    float: right;
}
.ossn-wall-container {
    background: #fff;
    border-top: 1px solid #eee;
    border-radius: 2px;
    padding: 0px;
    padding-top: 0px;
    margin-bottom: 10px;
}
.ossn-wall-container textarea {
    padding: 10px;
    width: 100%;
    border: 1px solid;
    border-color: #E5E6E9 #DFE0E4;
    border-bottom: 0px;
    border-top: 0px;
    resize: none;
    outline: none;
}
.ossn-wall-container .controls {
    background-color: #F6F7F8;
    border-bottom: 1px solid #E9EAED;
    border-left: 1px solid #E9EAED;
    border-right: 1px solid #E9EAED;
    height: 40px;
    width: 100%;
    margin-top: 3px;
    margin-top: -5px;
    padding-right: 10px;
}
.ossn-wall-container .wall-tabs {
    border-bottom: 1px solid #E5E5E5;
    height: 26px;
}
.ossn-wall-container .wall-tabs .item {
    margin-top: 5px;
}
.ossn-wall-container .wall-tabs .item div {
    display: inline-block;
}
.ossn-wall-container .wall-tabs .item .text {
    font-weight: bold;
    margin-top: 1px;
    margin-left: 5px;
    position: absolute;
    font-size: 15px;

}
.ossn-wall-container .tabs-input {} .ossn-wall-container .controls li {
    padding: 10px;
    display: inline-block;
    cursor: pointer;
}
.ossn-wall-container .controls li:hover {
    background: #eee;
}
.controls-li-text{
	text-align: center;
    width: 20%;
}
.ossn-wall-privacy {
    float: right;
    margin-right: 5px;
}
.ossn-wall-container input[type='submit'] {
    padding: 3px 20px;
    display: block;
    margin-top: 6px;
}
.ossn-wall-container i {
    font-size: 15px;
	text-shadow: -2px 1px 1px rgba(28, 59, 90, 0.17);
}
.ossn-wall-container input[type="file"] {
    border-left: 1px solid #EEE;
    border-right: 1px solid #EEE;
}
.ossn-wall-container input[type="file"],
.ossn-wall-container input[type="text"] {
    width: 100%;
    border-top: 1px dashed #EEE;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: -5px;
    outline: none;
}
#token-input-ossn-wall-friend-input {
    width: 100% !important;
    border-top: 1px dashed #EEE;
    padding: 7px;
    margin-bottom: 5px;
    margin-top: -5px;
}
#ossn-wall-form .ossn-loading {
    margin: 7px;
}
.ossn-wall-item-type {
    display: inline-block;
}
.ossn-wall-item p,
.ossn-wall-item .friends {
	display:inline-block;
}
/*******************************
	Comments Likes
********************************/

.ossn-comment-menu {
    float: right;
   /* display: none;*/
}
.comments-item:hover .ossn-comment-menu {
    display: block;
}
.comments-likes {
    min-height: 25px;
    width: 100%;
}
.menu-likes-comments-share {
    margin-bottom: 10px;
	padding: 3px !important;
	display:none !important;
}
menu-likes-comments-share li:first-child{
	border-right: 1px solid rgba(28, 59, 90, 0.18);
}
menu-likes-comments-share li:last-child{
	border-left: 1px solid rgba(28, 59, 90, 0.18);
}
.menu-likes-comments-share li {
    display: inline-block;
	width:32%;
	text-align:center;
	font-size: 15px;
	/*background: #f7f7f7;*/
}
.entity-menu-like-share-custom li{
	text-align:center;
	width:50% !important;
	font-size: 15px;
}
.menu-likes-comments-share li::after {
    /*content: "-";*/
    margin-left: 5px;
    margin-right: 5px;
    color: #ccc;
}
.menu-likes-comments-share li:last-child:after {
    content: " ";
}
.comments-list {
    background-color: #FBFBFB;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 10px;
    padding-right: 10px;
}
.comments-list .comments-item {
    padding-top: 5px;
    /*padding-bottom: 5px;*/
}
.comments-list .comments-item:first-child {
    margin-top: 0px;
    padding-top: 10px;
}
.comments-list .comments-item:last-child {
    border-bottom: none;
}
.comments-list .comments-item .comment-user-img {
    display: inline-block;
    border-radius: 32px;
}
.comments-list .comments-item .comment-contents {
    display: inline-block;
    margin-top: -3px;
}
.comment-container {
    padding-bottom: 10px;
    position: relative;
    z-index: 0;    
}
.comments-item .col-md-11 {
    padding-left: 0px;
}
.comment-metadata .time-created,
.comment-metadata a {
    display: inline-block;
}
.comment-contents p {
    margin: 0px;
    word-break: break-all;
}
.comment-contents p img {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100%;
}
.comment-contents .owner-link {
    font-weight: bold;
    margin-right: 5px;
    font-size: 14px;
}
.comment-contents {
    width: 100%;
}
.comment-container input[readonly='readonly'] {
    background: #eee;
}
.comment-box {
    padding: 5px 30px 5px 5px !important;
    z-index: 1;
    position: relative;
}
/*********************************
	Like
************************************/

.like-share {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 10px;
    margin-top: 10px;
    background-color: #FBFBFB;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 20px;
    padding-right: 20px;
}
.ossn-like-comment,
.ossn-total-likes {
    margin-left: 10px;
}
/********************************
	Global
***********************************/

.time-created {
    font-size: 14px;
    font-style: italic;
    color: #999;
}
/********************************
	Sidebar Nav
*********************************/

.sidebar {
    background-color: #1C3B5A;
    height: 200px;
    z-index: 1000;
    width: 90%;
    position: absolute;
    height: 100%;
    margin-left: -90%;
    overflow-y: auto;
    overflow-x: hidden;
    color: #fff;
}
.sidebar-close {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.sidebar-open {
    margin-left: 0px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.sidebar-open-page-container {
    margin-left: 85%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.sidebar-close-page-container {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.newseed-uinfo {
    padding: 10px;
}
.newseed-uinfo img {
    display: inline-block;
    border-radius: 50px;
    float: left;
}
.newseed-uinfo .name {
    display: inline-block;
   /* width: 100px;*/
    margin-left: 10px;
    margin-top: -2px;
}
.newseed-uinfo .name a {
    font-weight: bold;
    display: block;
    color: #fff;
    font-size: 13px;
}
.newseed-uinfo .name .edit-profile {
    font-weight: inherit;
}
.sidebar-menu-nav {
    overflow: auto;
    font-family: verdana;
    font-size: 14px;
    font-weight: 700;
    top: 0px;
    width: 100%;
    height: 100%;
}
.sidebar-menu-nav ul,
.sidebar-menu-nav li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
}
.sidebar-menu-nav ul:not(collapsed) .arrow:before,
.sidebar-menu-nav li:not(collapsed) .arrow:before {
    font-family: FontAwesome;
    content: "\f078";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    float: right;
}
.sidebar-menu-nav ul .sub-menu li,
.sidebar-menu-nav li .sub-menu li {
    border: none;
    line-height: 40px;
    border-bottom: 1px solid #344F6B;
    margin-left: 0px;
}
.sidebar-menu-nav ul .sub-menu li:hover,
.sidebar-menu-nav li .sub-menu li:hover {
    background-color: #294B6D;
}
.sidebar-menu-nav ul .sub-menu li:before,
.sidebar-menu-nav li .sub-menu li:before {
    font-family: FontAwesome;
    content: "\f105";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}
.sidebar-menu-nav li {
    padding-left: 0px;
    border-bottom: 1px solid #344F6B;
}
.sidebar-menu-nav li a {
    text-decoration: none;
    color: #fff;
}
.sidebar-menu-nav li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;
}
.sidebar-menu-nav li:hover {
    border-left: 3px solid #fff;
    background-color: #294B6D;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
@media (max-width: 767px) {
    .sidebar-menu-nav {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }
	.ossn-group-members { 
		height: 75px !important;
	}    
}
/******************************
	Ossn global css clsses
*******************************/

.right {
    float: right;
}
.left {
    float: left;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.margin-top-10 {
    margin-top: 10px;
}
.margin-top-20 {
    margin-top: 20px;
}
/************************
	Dropdown
***************************/

.dropdown-submenu {
    position: relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.dropmenu-topbar-icons {
    left: inherit;
    right: 0;
}
/******************************************
	Ossn Ads
*******************************************/

.ossn-ad-item {} .ossn-ad-item .ad-image {
    width: 100%;
}
.ossn-ad-item a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
.ossn-ad-item .ad-title {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;
}
.ossn-ad-item .ad-link {
    margin-bottom: 5px;
}
.ossn-ad-item p {
    margin-top: 10px;
    text-align: justify;
}
/*****************************
	Widgets
******************************/

.ossn-widget {
    margin-bottom: 10px;
    background-color: #fff;
}
.ossn-widget .widget-heading {
    background: #F9F7F7;
    border: 1px solid #eee;
    padding: 10px;
    font-weight: bold;
}
.ossn-widget .widget-contents {
    padding: 10px;
    border-bottom: 1px solid #eee;
}
/***********************************
	Ossn Notifications
***************************************/

.ossn-notifications-box {
    width: 430px;
    color: #000;
}
.ossn-notifications-box .notificaton-item {
    border-bottom: 1px solid #eee;
}
.ossn-notifications-box .notificaton-item:hover,
.ossn-notifications-box .notificaton-item .active {
    background-color: #F9F9F9;
}
.ossn-notifications-box .type-name {
    font-size: 13px;
    font-weight: bold;
    padding: 1px 10px 5px 10px;
    color: #000;
    height: 25px;
    border-bottom: 1px solid #DDDDDD;
}
.ossn-notification-box-loading {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.ossn-no-notification {
    text-align: center;
    padding: 10px;
}
.ossn-notifications-box .type-name .title {
    display: inline-block;
}
.ossn-notifications-box .type-name .links {
    display: inline-block;
    float: right;
}
.ossn-notifications-box .type-name .links a {
    color: #337ab7;
    display: inline;
    font-weight: normal;
}
.ossn-notifications-box .notification-image,
.ossn-notifications-box .notification-image img {
    width: 50px;
    height: 50px;
    display: inline-block;
}
.ossn-notifications-box .bottom-all a,
.ossn-notifications-box .notfi-meta strong {
    color: #337ab7;
}
.ossn-notifications-box .notfi-meta {
    width: 330px;
    margin-left: 5px;
    display: inline-block;
    float: right;
    color: #000;
}
.ossn-notifications-box .bottom-all a {
    font-weight: bold;
}
.ossn-notifications-box .bottom-all {
    background: #F7F7F7;
    text-align: center;
    padding: 0px;
    padding-top: 10px;
    display: block;
    height: 40px;
    border-top: 1px solid #eee;
}
.ossn-notifications-box .metadata {
    margin-bottom: -5px;
}
.ossn-notifications-box .messages-inner {
    max-height: 400px;
    overflow: hidden;
    overflow-y: scroll;
}
.latest-users img {
    margin-bottom: 5px;
}
.ossn-notification-mark-read {
    float: right;
}
.ossn-notifications-all a {} .ossn-notifications-all li {
    padding: 10px;
    display: block;
}
.ossn-notifications-all li:hover{
	cursor:pointer;
}
.ossn-notifications-all a:hover {
    cursor: pointer;
    background-color: transparent;
    text-decoration:none;
}
.ossn-notifications-box li:hover,
.ossn-notifications-box a:hover,
.ossn-notifications-all a:hover,
.ossn-notifications-all li:hover {
    background: #F9F9F9;
}
.ossn-notification-container {
    background-color: #dc0d17;
    background-image: -webkit-linear-gradient(#fa3c45, #dc0d17);
    color: #fff;
    min-height: 13px;
    padding: 1px 3px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .4);
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .7);
    -webkit-background-clip: padding-box;
    display: inline-block;
    font-size: 11px;
    line-height: normal;
    position: absolute;
    margin-left: -10px;
    z-index: 1;
}
.notification-friends .image {
    width: 50px;
    height: 50px;
    display: inline-table;
    float: left;
}
.ossn-notifications-friends-inner {
    padding: 6px;
}
.ossn-notifications-friends-inner form {
    display: inline-table;
}
.ossn-notification-page li img {
    display: none;
}
.notification-friends li {
    margin-bottom: 5px;
    width: 100%;
    border-bottom: 1px solid #eee;
}
.notification-friends .notfi-meta a {
    color: #337ab7;
    font-weight: bold;
    display: inline-block;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ossn-notifications-friends-inner .controls {
    float: right;
    margin-top: 6px;
    display: inline-block;
}
.ossn-notifications-friends-inner .btn {
    padding: 3px 9px;
    border-radius: 1px;
}
.notification-friends {
    max-height: 400px;
}
/*******************************
	Profile
********************************/

.ossn-profile .top-container {
    background: #fff;
    border: 1px solid #C4CDE0;
    border-width: 1px 1px 2px;
}
.ossn-profile .top-container .profile-cover {
    height: 200px;
    overflow: hidden;
    opacity:  .99;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, .38) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(1%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, .38)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, .38) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, .38) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, .38) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, .38) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#94000000', GradientType=0);
}
.ossn-profile .top-container .profile-cover img {
    width: 100%;
}
.ossn-profile-row {
    margin-bottom: 20px;
}
.profile-hr-menu ul {
    margin-bottom: 0px;
    padding: 0px;
}
.profile-hr-menu ul li {
    display: inline-block;
}
.profile-hr-menu ul li a {
    display: block;
    padding: 15px;
    margin-right: 5px;
    font-weight: bold;
    border-right: 1px solid #eee;
}
.profile-hr-menu .dropdown-menu li {
    display: block;
}
.profile-hr-menu .dropdown a i {
    margin-left: 5px;
}
.profile-hr-menu .dropdown-menu li a {
    border-right: 0px;
    margin-right: 0px;
}
.profile-hr-menu ul li:hover {} .profile-hr-menu {
    border-bottom: 1px solid #eee;
}
.profile-hr-menu ul li:last-child {
    border-right: none;
}
.ossn-profile .profile-photo {
    position: absolute;
    margin-left: 20px;
    margin-top: -190px;
    background-color: #fff;
    border: 1px solid #CCC;
    border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    padding: 2px;
}
.ossn-profile .profile-photo img {} .ossn-profile .user-fullname {
    color: #FFF;
    font-weight: bold;
    margin-top: -155px;
    font-size: 35px;
    font-size: 2.3vw;
    margin-left: 211px;
    position: absolute;
    text-shadow: 0 0 3px #000;
    /** overlapping issue with longer names on profile page #630 **/
    max-width: 820px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  
}
.ossn-profile-role {
    font-size: 25px !important;
    margin-top: -105px !important;
}
.btn-standalone-grey {
    color: #333;
    font-weight: bold;
    text-decoration: none;
    width: auto;
    margin: 0;
    font-size: 12px;
    line-height: 16px;
    padding: 5px 6px;
    cursor: pointer;
    outline: none;
    text-align: center;
    white-space: nowrap;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #FFF;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.10), inset 0 1px 0 #fff;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #FFF;
    border: 1px solid #999;
    border-bottom-color: #888;
    background: #EEE;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#F5F6F6), to(#E4E4E3));
    background: -moz-linear-gradient(#f5f6f6, #e4e4e3);
    background: -o-linear-gradient(#f5f6f6, #e4e4e3);
    background: linear-gradient(#F5F6F6, #E4E4E3);
    text-decoration: none;
}
.btn-standalone-grey:active {
    background: #ddd;
    border-bottom-color: #999;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
.btn-standalone-grey:hover {
    color: #333;
    text-decoration: none;
}
.profile-cover-controls {
    position: absolute;
    width: 100%;
    margin-right: -32px;
    margin-top: 150px;
    z-index: 1;
}
.change-cover {
    float: right;
    position: relative;
    margin-right: 50px !important;
}
.reposition-cover {
    float: right;
    position: relative;
    margin-right: 5px !important;
}
.profile-menu {
    float: right;
    position: relative;
    margin-top: -40px;
    margin-right: 20px;
}
#cover-menu {
    display: none;
}
.upload-photo {
    background: #000;
    opacity: 0.5;
    width: 170px;
    padding: 10px;
    position: absolute;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
}
.upload-photo span {
    width: 100%;
    padding: 12px;
    text-align: center;
}
.user-cover-uploading {
    opacity: 0.4;
}
.user-photo-uploading {
    height: 100%;
    opacity: 0.8;
    background: #fff;
    width: 100%;
    padding: 7px;
    position: absolute;
    border-radius: 2px;
}
.user-photo-uploading span {
    display: none;
}
.ossn-profile-bottom {
    margin-top: 10px;
}
.page-sidebar,
.ossn-profile-sidebar {
    background: #fff;
    border: 1px solid #eee;
    padding: 10px;
}
.ossn-layout-media .content {
    margin-right: 10px;
    margin-left: 10px;
}
.ossn-profile-extra-menu {
    display: inline-block;
}
/******************************
	Search
******************************/

.ossn-menu-search li {
    display: block;
}
.ossn-menu-search li:hover {
    background: #F9F9F9;
}
.ossn-menu-search li a {
    display: block;
    width: 100%;
    padding: 5px;
}
.ossn-menu-search li a:hover {
    text-decoration: none;
}
.ossn-menu-search li a .text{
    display: inline-block;
}
.ossn-search-page .ossn-users-list-item {
    margin-left: 0px;
    margin-right: 0px;
}
.ossn-search-page .ossn-users-list-item .uinfo {
    margin-left: 25px;
}
.ossn-menu-search-users .text:before {
	font-family: FontAwesome;
	content: "\f007";
	display: absolute;
	padding-right: 10px;
	vertical-align: middle;
	float: left; 
}
.ossn-menu-search-groups .text:before {
	font-family: FontAwesome;
	content: "\f0c0";
	display: absolute;
	padding-right: 10px;
	vertical-align: middle;
	float: left; 
}
/******************************
	Token Input
*******************************/

ul.token-input-list {
    overflow: hidden;
    height: auto !important;
    height: 1%;
    width: 100%;
    cursor: text;
    font-size: 12px;
    font-family: Verdana;
    min-height: 1px;
    z-index: 999;
    padding: 0;
    margin: 0;
    margin-top: -5px;
    background-color: #fff;
    list-style-type: none;
    clear: left;
    color: #2B5470;
    border-top: 1px dashed #EEE;
    border-right: 1px solid #EEE;
    border-left: 1px solid #EEE;
}
li.token-input-token {
    overflow: hidden;
    height: auto !important;
    height: 15px;
    margin: 3px;
    padding: 1px 3px;
    background-color: #eff2f7;
    color: #2B5470;
    cursor: default;
    font-weight: bold;
    border: 1px solid #ccd5e4;
    font-size: 11px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    float: left;
    white-space: nowrap;
}
li.token-input-token p {
    display: inline;
    padding: 0;
    margin: 0;
    font-size:12px;
}
li.token-input-token span {
    color: #a6b3cf;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
}
li.token-input-selected-token {
    background-color: #F9F9F9;
    border: 1px solid #eee;
    color: #2B5470;
    font-weight: bold;
}
li.token-input-input-token {
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
div.token-input-dropdown {
    position: absolute;
    width: 400px;
    background-color: #fff;
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: default;
    font-size: 11px;
    font-family: Verdana;
    z-index: 1;
}
div.token-input-dropdown p {
    margin: 0;
    padding: 5px;
}
div.token-input-dropdown ul {
    margin: 0;
    padding: 0;
}
div.token-input-dropdown ul li {
    background-color: #fff;
    padding: 3px;
    margin: 0;
    list-style-type: none;
}
div.token-input-dropdown ul li.token-input-dropdown-item {
    background-color: #fff;
}
div.token-input-dropdown ul li.token-input-dropdown-item2 {
    background-color: #fff;
}
div.token-input-dropdown ul li em {
    font-weight: bold;
    font-style: normal;
}
div.token-input-dropdown ul li.token-input-selected-dropdown-item {
    background-color: #F9F9F9;
    color: #2B5470;
    font-weight: bold;
}
/******************************************
		System Messages
*******************************************/

.ossn-system-messages .ossn-system-messages-inner {
    margin-top: 20px;
    margin-bottom:20px;	
    display:none;
}
.ossn-system-messages .ossn-system-messages-inner .alert {
	margin-bottom:0px;
}
/** v1-v3 compitible **/
.ossn-message-done {
    border: 1px solid #1EB0DF;
    border-width: 1px;
    background-color: #DAF6FF;
    padding: 13px;
    text-align: left;
}
/*************************************
	0ssn modal box
***************************************/

.ossn-halt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    background-color: #000;
    opacity: 0.9;
    cursor: auto;
    height: 100%;
    display: none;
}
.ossn-light {
    opacity: 0.4;
}
.ossn-viewer {
    width: 940px;
    margin: 0 auto;
    position: relative;
}
.ossn-viewer .ossn-container {
    height: 200px;
    position: fixed;
    width: 900px;
    z-index: 10000;
    margin-top: 70px;
    min-height: 515px;
}
.ossn-viewer-loding {
    font-size: 15px;
}
.ossn-viewer .ossn-container .close-viewer {
    float: right;
    cursor: pointer;
    margin-right: 5px;
    font-weight: bold;
    font-size: 13px;
    color: #ccc;
}
.ossn-container tbody {
    background: #000;
}
.ossn-halt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    background-color: #000;
    opacity: 0.9;
    cursor: auto;
    height: 100%;
    display: none;
}
.ossn-viewer .info-block {
    background: #fff;
    height: 100%;
    width: 325px;
    float: right;
    margin-left: -3px;
}
.image-block img {
    max-width: 700px;
}
.ossn-message-box {
    width: 470px;
    min-width: 470px;
    min-height: 96px;
    background: #fff;
    border: 1px solid #999;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    z-index: 60000;
    margin-top: 100px;
    border-radius: 3px;
    display: none;
    box-shadow: 0 2px 26px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.1);
}
.ossn-message-box .close-box {
    float: right;
    color: #ccc;
    cursor: pointer;
}
.ossn-message-box .title {
    background: #F5F6F7;
    padding: 11px;
    border-radius: 3px;
    border-bottom: 1px solid #E5E5E5;
    color: #5E5656;
    font-size: 14px;
    font-weight: bold;
}
.ossn-message-box .contents {
    padding: 10px;
   /* min-height: 150px;*/
    max-height: 420px;
    overflow-x: auto;
    overflow: overlay;
    overflow-x: -moz-hidden-unscrollable
}
.ossn-message-box .control {
    margin-left: 10px;
    margin-right: 10px;
    height: 45px;
    padding: 10px;
    border-top: 1px solid #E9EAED;
}
.ossn-message-box .control .controls {
    float: right;
}
.ossn-message-box .control .controls .btn {
    padding: 2px 13px;
    border-radius: 2px;
}
.ossn-message-box .contents input[type='text'] {
    border: 1px solid #EEE;
    width: 292px;
    padding: 7px;
}
.ossn-message-box .contents input[type='text'],
.ossn-message-box .contents label {
    display: inline-table;
}
.ossn-message-box .contents label {
    color: #666;
    font-weight: bold;
    font-size: 13px;
    margin-right: 13px;
}
/*******************************
	Ossn Blocked
*********************************/
.ossn-blocked i {
    font-size: 100px;
}
.ossn-blocked {
	text-align: center;
    padding: 100px;
}
.ossn-blocked div {
    font-size: 50px;
    font-weight: bold;
}
.ossn-blocked p {
    font-size: 16px;
}
/********************************
	Loading Icon
    @source: https://github.com/jlong/css-spinners
*********************************/

@-moz-keyframes three-quarters-loader {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes three-quarters-loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes three-quarters-loader {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/* :not(:required) hides this rule from IE9 and below */

.ossn-loading:not(:required) {
    -moz-animation: three-quarters-loader 1250ms infinite linear;
    -webkit-animation: three-quarters-loader 1250ms infinite linear;
    animation: three-quarters-loader 1250ms infinite linear;
    border: 8px solid #38e;
    border-right-color: transparent;
    border-radius: 16px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    text-indent: -9999px;
    width: 24px;
    height: 24px;
}
.ossn-box-loading {
    margin-left: 216px;
    margin-top: 37px;
}
/*******************************
	Buttons
*********************************/
.btn-action.friend-add-a, .btn-action.update-user-info{
	background: #3278b3;
}
.ossn-profile-extra-menu.dropdown .btn-action{
	background: #3278b3;
}

.button-grey,
.btn-action {
    color: #333;
    font-weight: bold;
    width: auto;
    margin: 0;
    font-size: 12px;
    line-height: 16px;
    padding: 5px 6px;
    cursor: pointer;
    outline: none;
    text-align: center;
    white-space: nowrap;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #FFF;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.10), inset 0 1px 0 #fff;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #FFF;
    border: 1px solid #ccc;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#F5F6F6), to(#E4E4E3));
    background: -moz-linear-gradient(#f5f6f6, #e4e4e3);
    background: -o-linear-gradient(#f5f6f6, #e4e4e3);
    background: linear-gradient(#F5F6F6, #E4E4E3);
    border-radius: 4px;
    text-decoration: none;
}
.button-grey:hover,
.btn-action:hover {
    text-decoration: none;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#E4E4E3), to(#F5F6F6));
    background: -moz-linear-gradient(#E4E4E3, #F5F6F6);
    background: -o-linear-gradient(#E4E4E3, #F5F6F6);
    background: linear-gradient(#E4E4E3, #F5F6F6);
}
/******************************
	Users List
*******************************/

.ossn-users-list-item .users-list-controls {
    margin-top: 20px;
}
.ossn-users-list-item .users-list-controls a {
    margin-left: 5px;
}
.ossn-users-list-item {
    border: 1px solid #E9EAED;
    margin-bottom: 10px;
    margin-right: -10px;
    margin-left: -10px;
}
.ossn-users-list-item .uinfo a {
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
    float: left;
    text-overflow: ellipsis;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;    
}
.ossn-users-list-item .col-md-2 {
    text-align: center;
}
/*********************************
	Footer
**********************************/

footer {
    margin-top: 20px;
    padding-top: 5px;	
}
footer .col-md-11 {
    border-top: 1px solid #E8E8E8;
	
}
footer .container {} footer .ossn-footer-menu {
    padding-bottom: 10px;
}
footer .ossn-footer-menu a {
    color: #807D7D;
    font-size: 13px;
}
footer .ossn-footer-menu a::after {
    content: "|";
    margin-left: 10px;
    margin-right: 10px;
}
footer .ossn-footer-menu a:nth-last-child(2)::after,
footer .ossn-footer-menu a:last-child::after {
    content: "";
}
.menu-footer-powered {
    float: right;
}
.menu-footer-powered:after {
    display: none;
}
.menu-footer-a_copyrights {
    text-transform: uppercase;
}
/****************************
	Home
****************************/

.home-left-contents {
    margin-top: 5%;
}
.home-left-contents .logo {
    text-align: center;
}
.home-left-contents .description {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
    text-align: justify;
    color:#fff;
}
.home-left-contents .buttons {
    text-align: center;
    margin-top: 10px;
}
#ossn-home-signup p {
	margin-top:10px;
}
/**************************
	System
***************************/

.ossn-list-users {
    height: 60px;
    border-bottom: 1px solid #E9EAED;
    display: block;
    margin-left: 5px;
    margin-bottom: 10px;
}
.ossn-list-users img,
.ossn-list-users .uinfo {
    display: inline-block;
}
.ossn-list-users .uinfo .userlink {
    font-size: 14px;
    font-weight: bold;
    float: right;
    margin-left: 12px;
    text-overflow: ellipsis;
    width: 370px;
    white-space: nowrap;
    overflow: hidden;    
}
.ossn-list-users .friendlink {
    float: right;
    margin-top: 10px;
    margin-right: 9px;
    text-overflow: ellipsis;
    width: 280px;
    white-space: nowrap;
    overflow: hidden;
}
.sidebar-menu-nav .sidebar-menu .menu-content {
        display: block;
}
.ossn-box-inner {
	width:446px;
}
.home-left-contents .some-icons li {
    display: inline-block;
    color: #fff;
   /* border: 3px solid #fff;*/
    border-radius: 100%;
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 20px; 
    
    width: 100px;
    height: 100px;   
}
.home-left-contents .some-icons li img:hover {
 border: 5px solid #74b43e;
}
.home-left-contents .some-icons li img {
 border: 5px solid #fff;
}
.home-left-contents .some-icons {
    margin-top: 10%;
    text-align: center;
 margin-left:-50px;
}

/**************************
	Similies
**************************/
.ossn-smiley-item {
    display: inline-block !important;
    margin-left: 2px;
    margin-right: 2px;
    width: initial !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    border: 0px !important;
}
/**************************
	Embed
 **************************/
.ossn_embed_video {
	margin-top: 10px;
    margin-bottom: 10px;
 	padding-top:0px;
 
}
/**************************
	Photos
***************************/
.ossn-photo-viewer .image-block img,
.ossn-photo-viewer {
     max-width: 100% !important;
}
/**************************
	Mobile Layout Settings
***************************/

@media (max-width: 480px) {
    /***********************
    	Comments
     ***********************/
    
    .comments-list .comments-item .comment-user-img {
        display: none;
    }
    .comments-item .col-md-11 {
        padding-left: 15px;
    }
    /************************
    	Wall
     ************************/
    
    .ossn-wall-item-type {
        display: block;
    }
    .ossn-wall-item .meta .user {
        width: 155px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .ossn-list-users .uinfo .userlink {
        text-overflow: ellipsis;
        width: 195px;
        white-space: nowrap;
        overflow: hidden;
    }
    .ossn-list-users a.right.btn.btn-primary {
        display: none;
    }
    .ossn-list-users a.right.btn.btn-danger {
        display: none;
    }
   .ossn-message-box .contents {
      /*  height: 280px ;*/
        overflow-x: auto;
		overflow: overlay;
    }
    /***************************
    	Topbar notification box
   *****************************/
    
    .ossn-notifications-box {
        width: 300px;
    }
    .ossn-notifications-box .notfi-meta {
        width: 230px;
    }
    .notification-friends .notfi-meta a {
        width: 100px;
    }
    .ossn-notifications-box .notfi-meta,
    .ossn-notification-messages .user-item .data {
        width: 215px !important;
    }
    .ossn-notification-messages .user-item .data .name {
    	width: 110px !important;
    }	
    .ossn-notification-messages .reply-text-from {
        width: 200px !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    /******************************
    	Profile
    ********************************/
    
    .ossn-profile .profile-photo img {
        width: 100px;
        height: 100px;
    }
    .ossn-profile .user-fullname {
        font-size: 16px;
        margin-left: 135px;
        margin-top: -100px;
        width: 140px;
    }
    .ossn-profile .top-container .profile-cover {
        height: 188px;
    }
    .ossn-profile .profile-photo {
        margin-top: -130px;
    }
    .profile-menu {
        float: none;
        margin: 13px;
		text-align: center;
    }
    .ossn-profile .top-container .profile-cover img {
        width: auto;
    }
    .ossn-group-cover-button,
    .profile-cover-controls {
        display: none !important;
    }
    .upload-photo {
        width: 100px;
    }
    .profile-hr-menu ul li {
        display: block;
        text-align: center;
        border-bottom: 1px solid rgb(238, 238, 238);
        margin-right: 0px;
    }
    .profile-hr-menu ul li a {
        margin-right: 0px;
    }
    .ossn-profile-role {
        display: none;
    }
    /*****************************
     	System
     *****************************/
    
    .ossn-users-list-item img {
        display: none;
    }
    .ossn-users-list-item .users-list-controls {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .ossn-users-list-item .uinfo a {
        margin-top: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 90px ;
    }
    .ossn-search-page .ossn-users-list-item .uinfo a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100px;
    }
    .ossn-system-messages {
        padding-left: 15px;
        padding-right: 15px;
    }
    .ossn-users-list-item {
        padding-bottom: 10px;
    }
    .ossn-widget .widget-contents {
    	padding:5px;
    }
    .ossn-message-box {
    	min-width: 300px;
        width:300px;
    }
    .ossn-box-loading {
    	margin-left: 150px;
		margin-top: 37px;
    }
    .ossn-message-box .contents input[type="text"] {
    	width:195px;
    }
    .ossn-box-inner {
    	width:280px;
    }
    footer .ossn-footer-menu a:nth-last-child(2)::after {
    	content:"|";
    }

    /**********************
    	Groups
    ************************/
    
    .ossn-group-cover img {
        top: auto !important;
    }
    .ossn-group-cover {
        height: 100px !important;
    }
    .groups-buttons {
        float: none !important;
    }
    .ossn-group-cover-header,
    .ossn-group-profile .profile-header,
    .ossn-group-profile .profile-header .header-bottom {
        height: auto !important;
    }
    .ossn-group-profile .profile-header {
        max-height: inherit !important;
    }
    .groups-buttons {
        margin-top: 50px;
    }
    .ossn-group-profile .profile-header .group-name {
        float: none !important;
    }
    #group-header-menu li,
    #group-header-menu {
        width: 100% !important;
    }
    #group-header-menu li {
        border-bottom: 1px solid #EEE !important;
    }
    .group-name {
        text-align: center;
        width: 100%;
        border-bottom: 1px solid #eee;
    }
    .ossn-group-members {
        margin-left: 15px;
        margin-right: 15px;
    }
    .ossn-group-members .request-controls,
    .ossn-group-members .uinfo {
        display: inline-block;
    }
    .ossn-group-members .uinfo .userlink {
        width: 130px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .sidebar-menu-nav .sidebar-menu .menu-content {
        display: block;
    }
    .sidebar-hide-contents-xs {
        display: none;
    }
    .home-left-contents .some-icons {
    	display:block;
    }
    /**************************
     	Layouts
     ****************************/
    
    .newsfeed-right {
        display: none;
    }
    .ossn-messages .message-with .user-icon,
    .ossn-messages .messages-recent .messages-from .user-item .image {
        display: none;
    }
    .ossn-messages .message-inner .row {
        margin-left: 0px !important;
    }
    /*************************
     	Home Page
     **************************/
    
    .logo img {
        width: 260px;
    }
    .home-left-contents .description {
        font-size: 16px;
    }
    .home-left-contents {
        margin-bottom: 20px;
    }
    /*****************************
    	Wall Menu
    ******************************/
    .dropdown-menu {
    	margin-left: -110px;
    }
    .menu-footer-powered {
    	float:none;
    }
}
/***************************************
	Tablets
****************************************/

@media only screen and (max-width: 992px) {
    .ossn-group-cover img {
        top: auto !important;
    }
	.dropdown-menu {
    	margin-left: 55px;
    }     
    .ossn-profile .user-fullname {
    	max-width:500px;
    }

    /***********************
    	Comments
     ***********************/
    .comments-list .comments-item .comment-user-img {
        display: none;
    }
    .comments-item .col-md-11 {
        padding-left: 15px;
    }
    /**************************
     	Layouts
     ****************************/
    
    .newsfeed-right {
        display: none;
    }
    /*******************
     	Messages
     *******************/
    
    .ossn-messages .message-with .user-icon,
    .ossn-messages .messages-recent .messages-from .user-item .image {
        display: none;
    }
    .ossn-messages .message-inner .row {
        margin-left: 0px !important;
    }
    .sidebar-menu-nav .sidebar-menu .menu-content {
        display: block;
    }    
}

@media only screen and (max-width: 1199px) {
    .comments-list .comments-item .col-md-1,
    .comments-list .comments-item .comment-user-img {
        display: none;
    }
     .comments-list .comments-item .col-md-11 {
    		width: 100%;
	 }
    .comments-item .col-md-11 {
        padding-left: 15px;
    }
    .group-search-details {
    	margin-left: 10px;
    }
    .ossn-search-page .ossn-users-list-item .uinfo {
    	margin-left: 35px;    
    }
    .ossn-search-page .ossn-users-list-item .uinfo a {
        text-overflow: ellipsis;
        width: 200px;
        white-space: nowrap;
        overflow: hidden;
    }
    .ossn-users-list-item .users-list-controls {
    	margin-bottom:10px;
    }
    .ossn-profile .user-fullname {
    	max-width: 640px;
    }    
}
@media only screen and (max-width: 767px) {
    .ossn-profile .user-fullname {
    	max-width: 767px;
    }
    .ossn-search-page .ossn-users-list-item .uinfo {
	margin-left: 0;	
    }
	.dropdown-menu {
    	margin-left: -50px;
    }
}
.dropdown-menu {
    	min-width:90px !important;
		z-index:1000000000;
    }
 .ossn-profile-module-friends img {
    padding: 1.5px;
}
.dropdown-menu.post-controls-popup{
	width: 116px !important;
    /*height: 140px !important;*/
    position: fixed !important;
    top: 50% !important;
    right: 50% !important;
    margin-right: -63px !important;
    text-align: center !important;
    margin-top: -70px !important;
}
.dropdown-menu.post-controls-popup-photo {
	width: 116px !important;
    position: fixed !important;
    top: 50% !important;
    right: 50% !important;
    margin-right: -63px !important;
    text-align: center !important;
}
.dropdown-menu.multi-level li{
	font-size:15px;
}
.ossn-profile-module-friends .user-image {
    width: 100px;
    height: 100px;
    margin-bottom: 5px;    
    display: inline-block;
}
.ossn-profile-module-friends .user-name {
    position: absolute;
    margin-top: -27px;
    margin-left: 8px;
    font-size: 12px;
    color: #fff;
    max-width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ossn-profile-module-friends h3 {
    padding: 4px;
    text-align: center;
    font-size:16px;
    color: #ccc;
}
.ossn-profile-extra-menu {
	display:inline-block;
}
.ossn-profile-extra-menu .btn-action i {
 	 margin: 0 auto;
}
.ossn-profile .profile-cover img {
	position: relative;
}
.ossn-form textarea#post-edit {
    height: 125px;
}
.ossn-wall-post-delete {
    color: #EC2020 !important;
}.ossn-comment-attach-photo {
    position: absolute;
    /*width: 100%;*/	
}
.cmnt-btn-icons{
	margin-left: 1px;
   /* border: 1px solid rgba(28, 59, 90, 0.17);*/
}
.comment-post-btn{
	/*float: right;
    position: relative;
    margin-right: 5px;
    margin-top: 3px;*/
    width: 26px;
    height: 25px;
    z-index: 2;
	/*padding:1px;*/
    cursor: pointer;
	background: #1c3b5a;
    color: white;
	border-radius: 20%;
}
.comments-list>.comments-item{
	/*height:75px;*/
}

.ossn-comment-attach-photo .fa-camera {
    /*float: right;
    position: relative;
    margin-right: 5px;
    margin-top: 5px;
    width: 25px;
    height: 25px;
    padding: 5px;*/
    z-index: 2;
    cursor:pointer;
}
.ossn-comment-attachment {
    width: 115px;
    margin-left: 40px;
    padding-bottom: 10px;
    margin-top: -5px;
	display:none;
}
.ossn-comment-attachment  .image-data  {
	padding: 6px;
	background: #fff;
    border: 1px solid #eee;
    /* Please, check scaling algorithm of comment picture previews #682 */
    display: flex;
    max-height: 200px;        
}
.ossn-comment-attachment  .image-data img {
	max-width:100%;
	height: 180px;
	border: 1px solid #ccc;
}
.ossn-viewer-comments .ossn-comment-attachment {
	width:115px;
}
.ossn-viewer .comments-item .row {
	margin-left:10px;
    margin-right:10px;
}
.ossn-viewer .comments-item .col-md-1 {
	display:none;
}
.ossn-viewer-comments .comments-likes .ossn-comment-attach-photo .fa-camera {
	float:none;
    margin-right:0px;
    margin-left:10px;
}

.ossn-viewer-comments .ossn-comment-attachment {
    margin-left: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
}
.ossn-viewer-comments .like-share {
	margin-left:0px;
    margin-right:0px;
}
.ossn-form textarea#comment-edit{
    height: 125px;
}
.ossn-delete-comment {
    color: #EC2020 !important;
}
.ossn-likes-view a.right.btn.btn-danger{
	font-size: 12px;
  	margin-top: 8px;
	margin-right: 5px;
    	padding: 3px 5px 3px 5px;
    	border-radius: 1px;
    	display: none;
}
.ossn-likes-view a.right.btn.btn-primary{
	font-size: 12px;
	margin-top: 8px;
	margin-right: 5px;
    	padding: 3px 5px 3px 5px;
    	border-radius: 1px;
    	display: none;
}
.ossn-profile-module-albums img {
    padding: 1.5px;
    width: 100px;
    height: 100px;
}
.ossn-profile-module-albums h3 {
    padding: 4px;
    font-size:16px;
    text-align: center;
    color: #ccc;
}
.ossn-photos {
    text-align: center;
}
.ossn-photos li {
    display: inline-block;
    margin-right: 5px;
    border: 1px solid #ccc;
    min-height: 200px;
    width: 200px;
    margin-top:10px;
}
.ossn-album-name {
    text-align: left;
    font-weight: bold;
    padding: 3px;
    margin-bottom: 3px;
    text-overflow: ellipsis;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
}
.ossn-photos {} .ossn-photos li img {
    /* border:1px solid #ccc; */
}
.ossn-photos h2 {
    text-align: center;
    font-size: 21px;
    text-transform: uppercase;
}
.ossn-photo-view a {
    float: right;
    margin-bottom: 10px;
}
.ossn-photo-viewer {
    text-align: center;
    background: #F6F6F6;
    /** pictures in single view are drifting rightwards out of place #629 **/
    width: 100%;
}
.ossn-viewer-comments {
    margin-top: 25px;
}

.ossn-viewer-comments .comments-likes .comment-text p img {
    max-width: 250px;
}
.ossn-viewer-comments .comments-likes .ossn-comment-attach-photo {
    margin-left: 222px;
}
.ossn-photos .pthumb {
    width: 200px;
    height: 200px;
}
.ossn-photo-menu li {
    display: block;
}
.ossn-photo-menu li a {
    font-size: 12px;
}
.ossn-profile-module-albums {
	
}
.ossn-profile-module-albums a {
    margin-left: 3px;
    border: 1px solid #eee;
}
.ossn-photo-view h2 {
    font-size: 18px;
    font-weight: bold;
    margin-top:0px;
    display: inline;
}
.ossn-photo-menu {
	margin-top:10px;
}
.ossn-photo-viewer .image-block {
	text-align: center;
    min-height:200px;
}
.ossn-notification-icon-comment {
	display: inline-block;
}	
.ossn-notification-icon-comment:before {
	content: "\f075";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}
.ossn-notification-icon-tag {
    display: inline-block;
}
.ossn-notification-icon-tag:before {
	content: "\f075";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}
.ossn-notification-icon-like {
    display: inline-block;
}
.ossn-notification-icon-like:before {
	content: "\f087";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}
.ossn-notification-icon-like-post:before {
    display: inline-block;
}	
.ossn-notification-icon-like-post:before {
	content: "\f087";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;	
}
.ossn-notifications-all .data {
    display: inline;
    margin-left: 5px;
}
.ossn-notification-friend-submit {
	background:#FFF9D7;
}.ossn-search {
    margin-top: 20px;
}
.ossn-search input[type='text']{
	width: 95%;
    margin: 0 auto;
    color: #000;
}
.ossn-messages {

}
.ossn-messages .messages-recent .widget-contents {
	padding:0px;
}
.ossn-messages .messages-recent .messages-from {
    max-height: 555px;
    overflow-x: hidden;
    overflow-y: auto;
}
.ossn-messages .messages-recent .messages-from .user-item {
    padding: 10px;
    margin: 0px;
	cursor:pointer;
    border-bottom: 1px solid #eee;    
}
.ossn-messages .messages-recent .messages-from .user-item .image {
    margin-top: 3px;
	border-radius: 16px;
}
.ossn-messages .messages-recent .messages-from .user-item .name {
       font-weight: bold;
    display: inline-block;
        font-size: 13px;
}
.ossn-messages .messages-recent .messages-from .message-new {
    background: #F7F7F7;
}
.ossn-messages .messages-recent .messages-from .user-item .col-md-10,
.ossn-messages .messages-recent .messages-from .user-item .col-md-2 {
	padding:0px;
}
.ossn-messages .messages-recent .messages-from .user-item .reply {
    margin-top: 0px;
    font-size: 13px;
}
.ossn-notification-messages .fa-reply,
.ossn-messages .messages-recent .messages-from .user-item .reply .fa-reply {
	font-size:10px;
    display: inline-block;  
    margin-top:0px;
}
.ossn-messages .messages-recent .messages-from .user-item .reply .reply-text {
	display: inline-block;  
}
.ossn-messages .messages-recent .messages-from .user-item .time {
    display: inline-block;
    float: right;
}
.ossn-messages .message-with  .user-icon {
    margin-top: 15px;
	border-radius: 25px;
}
.ossn-messages. message-form-form .textarea {

}
.ossn-messages .message-inner {
    max-height: 400px;
    padding-right: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}
.ossn-messages .message-inner .row {
    margin-left: -10px;
}
.message-form-form {
    margin-top: 10px;
    border-top: 1px solid #eee;
    padding-top: 10px;
}
.ossn-messages .message-with .time-created {
	float:right;
    margin-left:5px;
}
/*************************
	Notifications
**************************/

.ossn-notification-messages  .user-item {
	padding: 4px;
	border-bottom: 1px solid #eee;
}
.ossn-notification-messages .user-item:hover {
	background:#F6F7F8;
	cursor:pointer;
}
.ossn-notification-messages .message-new {
	background:#eee;
}
.ossn-notification-messages  .user-item .image {
	display:inline-table;
	width:50px;
	height:50px;
}
.ossn-notification-messages .user-item .data{
	float:right;
	width: 335px;
}
.ossn-notification-messages .user-item .data .name{
	font-size: 13px;
	font-weight: bold;
	padding: 3px;
    	margin-top: -3px;
    	text-overflow: ellipsis;
    	width: 210px;
    	white-space: nowrap;
    	overflow: hidden;
}
.ossn-notification-messages .user-item-inner .time {
	color: #999;
	float:right;
      	font-size: 14px;
    	font-style: italic;
    	margin-top: -24px;
}
.ossn-notification-messages .reply-text,
.ossn-notification-messages .reply-text-from {
	margin-top: -0px;
	margin-left: 4px;
	text-overflow: ellipsis;
	width: 320px;
	white-space: nowrap;
	overflow: hidden;
}
.ossn-notification-messages .messages-from .time {
	color: #999;
	float:right;
}
.ossn-notification-messages .user-item-inner {
	padding: 5px;
}
/************************
	v4.0 chat message
*************************/
.message-box-recieved {
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
    float: left;
    margin: 10px 0px 10px 10px;
    border-color: #cdecb0;
    word-break: break-word;
    text-align: justify;
}
.message-box-recieved::before {
    background-color: #F2F2F2;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform: rotate( 29deg) skew( -35deg);
    -moz-transform: rotate( 29deg) skew( -35deg);
    -ms-transform: rotate( 29deg) skew( -35deg);
    -o-transform: rotate( 29deg) skew( -35deg);
    -webkit-transform: rotate( 29deg) skew( -35deg);
    width: 20px;
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4);
    left: -9px;
}
.message-box-sent {
    background-color: #dfeecf;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
    float: left;
    margin: 5px 45px 5px 20px;
    border-color: #cdecb0;
    word-break: break-word;
    text-align: justify;
}
.message-box-sent::before {
    float: right;
    background-color: #dfeecf;
    content: "\00a0";
    display: block;
    height: 19px;
    position: relative;
    left: 26px;
    top: 0px;
    transform: rotate( 205deg) skew( -35deg);
    -moz-transform: rotate( 205deg) skew( -35deg);
    -ms-transform: rotate( 205deg) skew( -35deg);
    -o-transform: rotate( 205deg) skew( -35deg);
    -webkit-transform: rotate( 205deg) skew( -35deg);
    width: 20px;
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4);
}
.message-box-sent {
    float: right;
    background-color: #dfeecf;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
    margin: 10px 0px;
    border-color: #cdecb0;
}

.messages-with .widget-contents {
    padding: 10px 0px;
}
.ossn-ad-item {
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}
.group-header-menu {
    float: left;
}
.group-header-menu .first-item {
    border-left: 1px solid #EEE;
}
#group-header-menu {
    border: 0px;
    padding: 0px;
    font-size: 14px;
    font-weight: bold;
    width: auto;
}
#group-header-menu ul {
    background: #fff;
    height: 35px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#group-header-menu li:first-child {
    border-left: 1px solid #EEE;
}
#group-header-menu li {
    float: left;
    padding: 0px;
    border-right: 1px solid #EEE;
}
#group-header-menu li a {
    background: #fff;
    display: block;
    line-height: 42px;
    margin: 0px;
    padding: 0px 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}
#group-header-menu > ul > li > a {
    color: #2F4979;
    font-weight: bold;
    height: 44px;
}

#group-header-menu li > a:hover,
#group-header-menu ul li:hover > a {
    background: #F6F7F8;
    text-decoration: none;
}
#group-header-menu li ul {
    background: #fff;
    display: none;
    height: auto;
    padding: 0px;
    margin: 0px;
    position: absolute;
    width: 120px;
    z-index: 200;
    border-left: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
    border-right: 1px solid #EEE;
}
#group-header-menu li:hover ul {
    display: block;
}
#group-header-menu li li {
    display: block;
    float: none;
    margin: 0px;
    padding: 0px;
    width: 120px;
}
#group-header-menu li:hover li a {
    background: none;
}
#group-header-menu li ul a {
    display: block;
    height: 35px;
    font-size: 12px;
    font-style: normal;
    margin: 0px;
    padding: 0px 10px 0px 15px;
    text-align: left;
}
#group-header-menu li ul a:hover,
#group-header-menu li ul li:hover > a {
    background: #F6F7F8;
    border: 0px;
    text-decoration: none;
}
#group-header-menu p {
    clear: left;
}
.groups-sidebar {
    color: #999;
    font-weight: bold;
    margin-top: 5px;
}
.ossn-group-approve-all {
    float: right;
    margin-bottom: 5px;
    margin-right: 2px;
}
.ossn-layout-group {

}
.ossn-layout-group .coloum-left {
    width: 160px;
    float: left;
    display: inline-table;
}
.ossn-layout-group .coloum-middle {
    width: 800px;
    display: inline-table;
    margin-left: 6px;
    margin-right: 6px;
}
.ossn-layout-group .ossn-inner {
    width: 995px;
}
.ossn-group-members {
    height: 102px;
    border: 1px solid #E9EAED;
    margin-left: 5px;
    margin-bottom: 10px;
}
.ossn-group-members .uinfo .userlink {
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
    float: left;
}
.ossn-group-no-requests {
    text-align: center;
}
.ossn-group-profile {}
.ossn-group-profile .profile-header {
    border: 1px solid #C4CDE0;
    border-width: 1px 1px 0px;
    position: relative;
    max-height: 245px;
    width: 100%;
    opacity:  .99;
}
.ossn-group-profile .profile-header .header-bottom {
    background: #fff;
    height: 45px;
    border-bottom: 2px solid #C4CDE0;    
}
.ossn-group-profile .profile-header .group-name {
    font-size: 14px;
    font-weight: bold;
    padding: 13px;
    float: left;
}
.groups-buttons {
    float: right;
    padding: 9px;
}
.group-about .heading {
    color: #999;
    font-size: 11px;
    font-weight: bold;
}
.group-about .text {
    font-size: 12px;
    margin-top: 4px;
}
.members-count {
    margin-top: 4px;
    font-size: 12px;
    font-weight: bold;
}
.group-closed-container {
    background: #FFF;
    border: 1px solid;
    border-color: #E5E6E9 #DFE0E4 #D0D1D5;
    -webkit-border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
}
.group-closed-container p {
    padding: 3px 6px;
}
.ossn-group-cover-header {
    height: 290px !important;
}
.ossn-group-cover {
    overflow: hidden;
    height: 200px;
}
.ossn-group-cover img {
	width:100%;
    position:relative;
}
/*.ossn-group-cover:hover > .ossn-group-cover-button {
    display: block;
}*/
.ossn-group-cover-button {
    margin-top: 150px;
    margin-right: 10px;
    float: right;
    display: block;
    z-index: 9;
    position: absolute;
    right: 0px;
}
.ossn-group-cover-button a {
    display: inline-block;
}
.group-c-position {
    display: none !important;
}
.groups-buttons a {
    display: inline-block;
}
.ossn-groups-notification-icon,
.ossn-groups-notification-icon:before {
    display: inline-block;
}	
.ossn-groups-notification-icon:before {
	content: "\f0c0";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}
.ossn-group-notification-item .data {
    display: inline;
    margin-left: 5px;
}
.delete-group {
    float: right;
}
.group-widget-members img {
	margin-right:5px;
    /* group-widget-members img need bottom margin #699 */
	margin-bottom: 5px;
}
.ossn-notification-unviewed {
    background: #F9F9F9;
}
.ossn-group-profile .widget-description .widget-contents {
    text-align: justify;
}
.ossn-group-profile .group-requests-widget .widget-contents {
	text-align:center;
}
.ossn-group-profile .group-requests-widget a {
    font-weight: bold;
    text-transform: uppercase;
}
.ossn-group-members .request-controls {
	margin-top:20px;
}
.ossn-group-members .request-controls a {
	margin-left:5px;
}
.ossn-group-members .col-md-2 {
	text-align:center;
}
.group-search-details {
    padding: 20px;
}
.group-search-details .group-name {
    font-weight: bold;
    font-size: 15px;

}
.group-search-items .row {
    border: 1px solid #eee;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
}
.group-search-details .ossn-group-search-by {
    margin-top: 5px;
}
.group-search-details .ossn-group-search-by a {
    margin-left: 5px;
}
.ossn-site-pages-title {
    background: #F9F7F7;
    border: 1px solid #eee;
    padding: 10px;
    font-weight: bold;
}
.ossn-site-pages-body {
    padding: 10px;
}
@media only screen
and (max-width : 1360px) {
.ossn-site-pages{
    margin-left: 15px;
    margin-right: 15px
    }
}
@media only screen
and (min-width : 1360px) {
.ossn-site-pages{
    margin-left: 80px;
    margin-right: 80px
    }
}
.ossn-chat-base {
    border-bottom: 0;
    bottom: 0px;
    left: 15px;
    display: block;
    font-family: "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
    font-size: 11px;
    height: 33px;
    position: fixed;
    text-align: left;
    z-index: 1028;
    margin-top: 8px;
    left: 15%;
    color: #000;
    width: 850px;
}

.ossn-chat-base .ossn-chat-bar {
    display: block;
    bottom: 0px;
    cursor: pointer;
    width: 200px;
    float: right;
}

.ossn-chat-base .ossn-chat-bar .inner {
    padding: 10px;
    margin-left: 5px;
    background: #F7F7F7;
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5);
    border: 1px solid #BAC0CD;
    height: 35px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.ossn-chat-base .ossn-chat-bar .inner:hover {
    background: #fff;
}

.ossn-chat-base .ossn-chat-bar .friends-list {
    background: #F9F9FB;
    width: 195px;
	min-height: 271px;
    margin-top: -271px;
    margin-left: 5px;
    position: fixed;
    height: 268px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: none;
}
img.ustatus {
	border-radius: 32px;
}
img.ustatus.ossn-chat-icon-online {
    border: 3px solid #4cae4c;
    }
.ossn-chat-inner-text {
    width: 145px;
    margin-left: 20px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ossn-chat-tab-titles {
    background: linear-gradient(#2C91B7, #0084B4);
    color: #fff;
    padding: 5px;
    border: 1px solid #0B769C;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.ossn-chat-inline-table {
    display: inline-table;
}

.ossn-chat-tab-titles .options {
    float: right;
    margin-right: 10px;
    color: #FFF;
    margin-top: 2px;
    font-size: 12px;
    cursor: pointer;
}

.ossn-chat-tab-titles .options .item:hover {
    background: #5E72A2;
    width: 17px;
    margin-right: -4px;
    text-align: center;
}

.ossn-chat-tab-titles:hover {
    background: #41667B;
    border:1px solid #3A5A6D;
}

.ossn-chat-tab-titles .text {
    color: #FFF;
    font-weight: bold;
    margin-left: 9px;
    padding: 2px;
    max-width: 190px;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ossn-chat-bar .friends-list .data {
    width: 195px;
    overflow: hidden;
    overflow-y: scroll;
    height: 236px;
    
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;    
}

.ossn-chat-base .ossn-chat-bar .friends-list-item:hover {
    background: #eee;
}

.ossn-chat-base .ossn-chat-bar .friends-list-item .friends-item-inner {
    margin: 5px 5px 5px 5px;
    height: 36px;
    padding: 2px;
}

.ossn-chat-base .ossn-chat-bar .friends-list-item .icon {
    display: inline-table;
    width: 32px;
    height: 32px;
}

.ossn-chat-base .ossn-chat-bar .friends-list-item .name {
    margin-top: -28px;
    margin-left: 40px;
    max-width: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ossn-chat-base .ossn-chat-bar .friends-list-item .ossn-chat-icon-online {
    border: 3px solid #4cae4c;
	border-radius: 32px;
}

.ossn-chat-none {
    padding: 5px;
    margin-top:10px;
}

.friend-tab-item {
    display: block;
    bottom: 0px;
    cursor: pointer;
    width: 200px;
    float: right;
}

.friend-tab-item .friend-tab {
    padding: 12px;
    margin-left: 5px;
    background: #F7F7F7;
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5);
    border: 1px solid #ccc;
    height: 35px;
    
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.ossn-chat-tab-active {
    background: #5D7D91 !important;
    border: 1px solid #2F4959 !important;
    color: #fff;
}

.friend-tab-item .tab-container {
    margin-top: -268px;
    position: absolute;
    height: 265px;
    width: 251px;
    margin-left: 5px;
    display: none;
}

.friend-tab-item .tab-container .data {
    background: #eee;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    width: 251px;
    height: 237px;
    overflow: hidden;
    overflow-y: scroll;
}

.friend-tab-item .data .message-reciever .text,
.friend-tab-item .data .message-sender .text {
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 80%;
    clear: both;
}

.friend-tab-item .data .message-reciever .text {
    margin-right: auto;
    background-image: -webkit-linear-gradient(bottom, #F2F2F2, #FFF);
    background-image: -moz-linear-gradient(bottom, #F2F2F2, #FFF);
    background-image: -ms-linear-gradient(bottom, #F2F2F2, #FFF);
    background-image: linear-gradient(bottom, #F2F2F2, #FFF);
    border-radius: 3px;
    border: 1px solid #ccc;
    text-shadow: rgba(255, 255, 255, .5) 0 1px 0;
    color: #000;
    display: inline-table;
}

.friend-tab-item .data .message-reciever .text .inner {
    padding: 5px;
    line-height: 15px;
    max-width: 165px;
    word-wrap: break-word;
}

.friend-tab-item .data .message-sender {
    width: 210px;
    float: right;
}

.friend-tab-item .data .message-reciever {
    width: 222px;
    float: left;
}

.friend-tab-item .data .message-reciever .user-icon {
    display: inline-table;
    padding: 3px;
}
.friend-tab-item .data .message-reciever .user-icon img {
	width:32px;
    height:32px;
}

.friend-tab-item .data .message-sender .text {
    margin-left: 35px;
    background: linear-gradient(#C7DEFE, #E7F1FE);
    background-image: -webkit-gradient(linear, center bottom, center top, from(#C7DEFE), to(#E7F1FE));
    background-image: -webkit-linear-gradient(bottom, #C7DEFE, #E7F1FE);
    border: 1px solid #DFDFDF;
    border: 1px solid rgba(0, 0, 0, 0.18);
    border-bottom-color: rgba(0, 0, 0, 0.29);
    -webkit-border-radius: 4px;
    -webkit-box-shadow: 0 1px 0 #DCE0E6;
    display: inline-table;
}

.friend-tab-item .data .message-sender .text .inner {
    padding: 5px;
    line-height: 15px;
    max-width: 158px;
    word-wrap: break-word;
}

.ossn-chat-triangle {
    border-top: 5px solid rgba(0, 0, 0, 0);
    border-bottom: 5px solid rgba(0, 0, 0, 0);
}

.ossn-chat-triangle-blue {
    border-left: 5px solid #AFD0FE;
    margin-top: 10px;
    float: right;
}

.ossn-chat-triangle-white {
    border-right: 5px solid #B8B8B8;
    margin-top: 10px;
    margin-left: 38px;
    float: left;
}

.ossn-chat-text-data {
    margin-top: -40px;
}

.ossn-chat-text-data-right {
    float: right;
}

.friend-tab-item .friend-tab form {
    display: none;
}

.friend-tab-item .friend-tab input[type='text'] {
    width: 213px;
    height: 30px;
    padding: 2px;
	margin-top: -12px;
	margin-left: -12px;
    position: absolute;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 12px;
    border:0px;
    outline:none;
}

.ossn-chat-tab-close {
    width: 17px;
    margin-right: -4px;
    text-align: center;
}

.ossn-chat-new-message {
    background-color: #dc0d17;
    background-image: -webkit-gradient(linear, center top, center bottom, from(#fa3c45), to(#dc0d17));
    background-image: -webkit-linear-gradient(#fa3c45, #dc0d17);
    color: #fff;
    min-height: 13px;
    padding: 1px 3px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .4);
    font-size: 10px;
    float: left;
    display: none;
	margin-top: -2px;
    position: absolute;     
}

.ossn-chat-icon-smilies {
    background: #FFF;
    width: 235px;
    min-height: 40px;
    padding: 5px;
    position: fixed;
    border: 1px solid #CCC;
    z-index: 1;
}

.ossn-chat-item-smiles {
    padding: 3px;
}

.ossn-chat-icon-smile-set {
    margin-top: -12px;
    background: #fff;
    width: 37px;
    padding: 4px;
    height: 27px;
    position: absolute;
    margin-left: 200px;
}

.ossn-chat-icon-smilies {
    display: none;
}
/** Icons **/
.ossn-chat-icon {}
.ossn-chat-icon-online:before {
	content: "\f111 ";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    color: #57B540;
    font-size: 12px;
    float: left;
}

.ossn-chat-icon-offline:before {
	content: "\f111 ";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    color: #D23636;
    font-size: 12px;
    float: left;
}


.ossn-chat-icon-expend:before {
    content: "\f0b2";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    color: #fff;
    font-size: 12px;
}

.ossn-chat-icon-expend:hover {
    opacity: 0.9;
}

.ossn-chat-icon-smile:before {
    content: "\f118";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    margin-left: 10px;
}

.ossn-chat-icon {
    width: 16px !important;
    height: 16px !important;
}

.ossn-chat-windows-long {
    display: none;
}

@media only screen
and (min-width : 1280px) {
    .ossn-chat-base {
        width: 910px !important;
    }
}

@media only screen
and (min-width : 1360px) {
    .ossn-chat-bar {
        display: none !important;
    }

    .ossn-chat-windows-long {
        float: right;
        position: fixed;
        min-height: 500px;
        width: 175px;
        border-left: 1px solid #ccc;
        bottom: 0px;
        right: 0;
        top: 0;
        background: #E9EAED;
        display: block;
    }

    .ossn-chat-windows-long .inner {
        margin-top: 45px;
        border-top: 1px solid #ccc;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .ossn-chat-windows-long .friends-list-item .friends-item-inner {
        margin: 10px 5px 5px 5px;
        height: 32px;
    }

    .ossn-chat-windows-long .friends-list-item {
        border-top: 1px solid #E9EAED;
        border-bottom: 1px solid #E9EAED;
    }

    .ossn-chat-windows-long .friends-list-item:hover {
        background: #E1E2E5;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        cursor: pointer;
    }

    .ossn-chat-windows-long .friends-list-item .icon {
        display: inline-block;
        width: 32px;
        height: 32px;
    }
	

    .ossn-chat-windows-long .friends-list-item .name {
        margin-top: -25px;
        margin-left: 40px;
        max-width: 110px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

   .ossn-chat-windows-long .friends-list-item .ossn-chat-icon-online:before {
    	float: right;
 	margin-right:4px;
    	margin-top: -17px;
 	content: "\f111 ";
    	font-family: FontAwesome;
    	font-style: normal;
    	font-weight: normal;
    	color: #57B540;
    	font-size: 12px;
    }
}
/** Document **/
#ossn-chat-sound {
    display: none;
}

.ossn-chat-message-sending {
    position: absolute;
    width: 218px;
    height: 11px;
    margin-top: -9px;
    margin-left: -9px;
    padding: 10px;
    background: #fff;
    display: none;
}
.friend-tab .ossn-chat-inner-text {
	margin-top: -2px;
}
.ossn-chat-sending-icon {
    background: url("http://192.168.1.11/m.mychance.in/components/OssnChat/images/loading-small.gif") no-repeat;
    width: 16px;
    height: 11px;
}
.ossnchat-scroll-top {
	margin-top:0px !important;
}

@media (max-width: 480px){
    .ossn-chat-base {
    	display:none !important;
    }
}

@media only screen and (max-width: 480px) {
    .ossn-chat-base {
    	display:none !important;
    }
}
@media only screen and (max-width: 768px) {
    .ossn-chat-base {
    	display:none !important;
    }
}
footer { 
	margin-bottom:50px;	
}
@-ms-viewport {
   width: auto;
}
.ossn-notification-icon-poke,
.ossn-notification-icon-poke:before {
    display: inline-block;	
}
.ossn-notification-icon-poke:before {
	content: "\f0a4";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

.control-popup{
	color: #337ab7!important
}

.ossn-inner-page{
	margin-top:40px !important;
}

.post-control-pass, .post-control-change, .post-control-star, .post-control-inspire{
	color:black;
}

.like-share .fa-star{
	color:rgb(51, 122, 183);
}