<style type='text/css'>
    @-webkit-keyframes uil-default-anim {
        0% {
            opacity: 1
        }
        100% {
            opacity: 0
        }
    }
    @keyframes uil-default-anim {
        0% {
            opacity: 1
        }
        100% {
            opacity: 0
        }
    }
    .uil-default-css > div:nth-of-type(1) {
        -webkit-animation: uil-default-anim .8s linear infinite;
        animation: uil-default-anim .8s linear infinite;
        -webkit-animation-delay: -0.4s;
        animation-delay: -0.4s;
    }
    .uil-default-css {
        position: relative;
        background: none;
        width: 200px;
        height: 200px;
    }
    .uil-default-css > div:nth-of-type(2) {
        -webkit-animation: uil-default-anim .8s linear infinite;
        animation: uil-default-anim .8s linear infinite;
        -webkit-animation-delay: -0.3466666666666667s;
        animation-delay: -0.3466666666666667s;
    }
    .uil-default-css {
        position: relative;
        background: none;
        width: 200px;
        height: 200px;
    }
    .uil-default-css > div:nth-of-type(3) {
        -webkit-animation: uil-default-anim .8s linear infinite;
        animation: uil-default-anim .8s linear infinite;
        -webkit-animation-delay: -0.29333333333333333s;
        animation-delay: -0.29333333333333333s;
    }
    .uil-default-css {
        position: relative;
        background: none;
        width: 200px;
        height: 200px;
    }
    .uil-default-css > div:nth-of-type(4) {
        -webkit-animation: uil-default-anim .8s linear infinite;
        animation: uil-default-anim .8s linear infinite;
        -webkit-animation-delay: -0.24s;
        animation-delay: -0.24s;
    }
    .uil-default-css {
        position: relative;
        background: none;
        width: 200px;
        height: 200px;
    }
    .uil-default-css > div:nth-of-type(5) {
        -webkit-animation: uil-default-anim .8s linear infinite;
        animation: uil-default-anim .8s linear infinite;
        -webkit-animation-delay: -0.18666666666666668s;
        animation-delay: -0.18666666666666668s;
    }
    .uil-default-css {
        position: relative;
        background: none;
        width: 200px;
        height: 200px;
    }
    .uil-default-css > div:nth-of-type(6) {
        -webkit-animation: uil-default-anim .8s linear infinite;
        animation: uil-default-anim .8s linear infinite;
        -webkit-animation-delay: -0.13333333333333336s;
        animation-delay: -0.13333333333333336s;
    }
    .uil-default-css {
        position: relative;
        background: none;
        width: 200px;
        height: 200px;
    }
    .uil-default-css > div:nth-of-type(7) {
        -webkit-animation: uil-default-anim .8s linear infinite;
        animation: uil-default-anim .8s linear infinite;
        -webkit-animation-delay: -0.07999999999999996s;
        animation-delay: -0.07999999999999996s;
    }
    .uil-default-css {
        position: relative;
        background: none;
        width: 200px;
        height: 200px;
    }
    .uil-default-css > div:nth-of-type(8) {
        -webkit-animation: uil-default-anim .8s linear infinite;
        animation: uil-default-anim .8s linear infinite;
        -webkit-animation-delay: -0.026666666666666672s;
        animation-delay: -0.026666666666666672s;
    }
    .uil-default-css {
        position: relative;
        background: none;
        width: 200px;
        height: 200px;
    }
    .uil-default-css > div:nth-of-type(9) {
        -webkit-animation: uil-default-anim .8s linear infinite;
        animation: uil-default-anim .8s linear infinite;
        -webkit-animation-delay: 0.026666666666666672s;
        animation-delay: 0.026666666666666672s;
    }
    .uil-default-css {
        position: relative;
        background: none;
        width: 200px;
        height: 200px;
    }
    .uil-default-css > div:nth-of-type(10) {
        -webkit-animation: uil-default-anim .8s linear infinite;
        animation: uil-default-anim .8s linear infinite;
        -webkit-animation-delay: 0.08000000000000002s;
        animation-delay: 0.08000000000000002s;
    }
    .uil-default-css {
        position: relative;
        background: none;
        width: 200px;
        height: 200px;
    }
    .uil-default-css > div:nth-of-type(11) {
        -webkit-animation: uil-default-anim .8s linear infinite;
        animation: uil-default-anim .8s linear infinite;
        -webkit-animation-delay: 0.1333333333333333s;
        animation-delay: 0.1333333333333333s;
    }
    .uil-default-css {
        position: relative;
        background: none;
        width: 200px;
        height: 200px;
    }
    .uil-default-css > div:nth-of-type(12) {
        -webkit-animation: uil-default-anim .8s linear infinite;
        animation: uil-default-anim .8s linear infinite;
        -webkit-animation-delay: 0.18666666666666665s;
        animation-delay: 0.18666666666666665s;
    }
    .uil-default-css {
        position: relative;
        background: none;
        width: 200px;
        height: 200px;
    }
    .uil-default-css > div:nth-of-type(13) {
        -webkit-animation: uil-default-anim .8s linear infinite;
        animation: uil-default-anim .8s linear infinite;
        -webkit-animation-delay: 0.2400000000000001s;
        animation-delay: 0.2400000000000001s;
    }
    .uil-default-css {
        position: relative;
        background: none;
        width: 200px;
        height: 200px;
    }
    .uil-default-css > div:nth-of-type(14) {
        -webkit-animation: uil-default-anim .8s linear infinite;
        animation: uil-default-anim .8s linear infinite;
        -webkit-animation-delay: 0.29333333333333333s;
        animation-delay: 0.29333333333333333s;
    }
    .uil-default-css {
        position: relative;
        background: none;
        width: 200px;
        height: 200px;
    }
    .uil-default-css > div:nth-of-type(15) {
        -webkit-animation: uil-default-anim .8s linear infinite;
        animation: uil-default-anim .8s linear infinite;
        -webkit-animation-delay: 0.3466666666666667s;
        animation-delay: 0.3466666666666667s;
    }
    .uil-default-css {
        position: relative;
        background: none;
        width: 200px;
        height: 200px;
    }
</style>
