.menu_table{
	font-size:25px;
}
.menu_table_container{
	width:100%;
	position: fixed;
    background: white;
    z-index: 1500;
}
#content_area{
	pointer-events: auto;
    opacity: 1;
    margin-top: 46px;
}