.search-entity-holder{
	width: 100%;
    max-height: 150px;
    background: #f7f7f7;
    position: absolute;
    z-index: 999;
    display: none;
}
.entity-ul{
	width:100%;
	list-style-type: none;
}
.entity-li{
	background: white;
    color: #1c3b5a;
	padding: 5px;
    margin-left: -40px;
	cursor:pointer;
}
.entity-li:hover{
	padding:7px;
	background:rgba(28, 59, 90, 0.13);
}
.entity-fullname{
	margin-left: 11px;
    font-weight: 500;
}
.entity-profilepic{
	width:22px;
}
.comments-list{
	display:none;
}
.fa-size-icon{
	font-size:16px;
}

#postAddPage{
	display:none;
}

#postAddPage.slideIn {
	animation-duration: 0.5s;
	animation-name: slidelefttoright;
	width: 100%;
	background: white;
	height: 100vh;
	position: fixed;
}
#postAddPage.slideOut {
	animation-duration: 0.5s;
	animation-name: sliderighttoleft;
	width: 100%;
	background: white;
	height: 100vh;
	display:none;
	position: fixed;
}

@keyframes slidelefttoright {
  from {
   	margin-left:-100%; 
	
  }
  to {
   	margin-left:0%; 
	display:block;
   
  }
}
@keyframes sliderighttoleft {
  from {
   	margin-left:0%; 
	
  }
  to {
   	margin-left:-100%; 
	display:none; 
  }
}
.ossn-profile-wall .ossn-wall-container{
	display:none;
}

img.flash_class {
    /* Center horizontally */
    position: absolute; margin: auto;

    width: 55px; height: 55px;
    top: 20px; right: 20px;
}

img.take_pic_class {
    /* Center horizontally */
    position: absolute; margin: auto;

    width: 75px; height: 75px;
    left: 0px; right: 0px; bottom: 20px;
}
img.video_mode_btn{
	position: absolute;
	margin: auto;
	width: 55px;
	height: 55px;
	left: 0px;
	right: 70%;
	bottom: 20px;
}
img.switch_camera_btn{
	position: absolute;
	margin: auto;
	width: 75px;
	height: 75px;
	left: 70%;
	right: 0px;
	bottom: 11px;
}